src/main/mule/frppFilePoller.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="filePoller_httpInvoke" doc:id="5c5b5b35-4508-428d-a32f-d2b56423e7f2">
		<http:listener doc:name="Listener" doc:id="5e879ec9-48f9-4522-be06-e2168cff14cc" config-ref="HTTP_Listener_config_Global" path="/frppload" />
		<logger level="INFO" doc:name="MuleX" doc:id="81deba6a-03d4-4743-bbdf-7e45ad5965bd" message="MuleX: FrppFilePoller Service Started."/>
		<choice doc:name="Choice - fileName Provided?" doc:id="56c8cdd1-9325-4589-98e2-e155fb3f3950">
			
			<when expression="#[attributes.queryParams.fileName == 'ALL' or attributes.queryParams.fileName == 'all'  or  attributes.queryParams.fileName == 'All']">
				<flow-ref doc:name="call filePoller_main" doc:id="d71f71e2-03b7-41db-8b5a-3482ff74d8a6" name="filePoller_main" />
			</when>
			
			
			<when expression='#[attributes.queryParams.fileName != null and attributes.queryParams.fileName != ""]'>
				<flow-ref doc:name="filePoller_throttlingCount" doc:id="3814059c-d83f-4e28-b559-c87fb2a3389f" name="filePoller_throttlingCount"/>
				<choice doc:name="Choice - Throttling Limit?" doc:id="04f54f6c-a116-4fbf-8280-e27dba65d30f">
					<when expression="#[(vars.remainingCount &gt; 0) or (p('throttling.flag') != &quot;true&quot;)]">
						<salesforce:query doc:name="Get the List of Files" doc:id="5883ac86-878c-431c-8fdb-0c6f5044f23f" config-ref="SalesforceGeoFL3_Global" target="filePayloads">
			<salesforce:salesforce-query>Select ID, File_Name__c, File_Type__c, File_Extension__c, Status__c, AGENCY_CODE__c, Attachment_ID__c, createdby.email from FRPP_FILE__c where Active__c=True and File_Type__c='CR' and Status__c='Staging In Progress2'  and FILE_NAME__c = ':fileName'</salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	"fileName" : attributes.queryParams.fileName
}]]]></salesforce:parameters>

		</salesforce:query>
						<choice doc:name="Choice - Payload Size &gt; 0?" doc:id="ddb90630-7beb-43f7-8aae-b6ae4d106da6">
					<when expression="#[sizeOf (vars.filePayloads) &gt; 0]">
						<flow-ref doc:name="Call to forEachFile" doc:id="b6f6b2ae-8218-4414-9fc5-76dc86fde5c3" name="forEachFile" />
						<set-payload value="FRPPFilePoller Flow Completed." doc:name="set Http Response" doc:id="2d222fca-2ae8-4c90-a802-55d2ec02b0ad" />
					</when>
					<otherwise>
						<set-variable value='#["FRPPFilePoller services was called with a File Name: " ++ attributes.queryParams.fileName ++ ".\n\nNo matching file payload found in SalesForce with that name."]' doc:name="email Body - No Matching File." doc:id="156553c5-7c98-40a2-ab05-b2cae3a7e932" variableName="emailBody" />
						<flow-ref doc:name="supportEmailNotificationFlow" doc:id="1726381d-4587-4871-bdde-92737fdb54b4" name="supportEmailNotificationFlow" />
						<set-payload value="FRPPFilePoller Flow Completed with Error: No matching File found" doc:name="No Matching File." doc:id="41153f41-d860-4e38-92b5-e8a1fefcc2ec" />
					</otherwise>
				</choice>
					</when>
					
					<otherwise >
						<set-payload value="Reached Max Throttling Limit. No files were processed." doc:name="Throttling Limit Reached." doc:id="39f37c33-25e9-4f6f-9ce3-e9a8d29a8ec2" />
					</otherwise>
				</choice>
			</when>
			<otherwise>
				<set-payload value="Incorrect query parameters provided. No files were processed." doc:name="Incorrect QueryParams" doc:id="fc3abbd6-154f-4dfe-8180-af747eec71f2" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="MuleX" doc:id="22bbe664-986a-4d67-96e7-f34212353906" message="MuleX: FrppFilePoller Service Completed."/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="8f7628f3-3021-4d08-960f-96025a1a0e0f" >
				<flow-ref doc:name="filePoller_ErrorHandler" doc:id="30c33694-2e5d-460d-b33e-c6f1070c2644" name="filePoller_ErrorHandler"/>
			</on-error-continue>
		</error-handler>
	</flow>
	
	<flow name="filePoller_schedule" doc:id="2f09977e-6440-4a76-bfa2-d41344f32ea8" >
		<scheduler doc:name="Scheduler" doc:id="b7ab447d-3339-4bab-9b71-8114864769fd" >
			<scheduling-strategy >
				<fixed-frequency timeUnit="SECONDS" frequency="${schedule.time.sec}"/>
			</scheduling-strategy>
		</scheduler>
		<choice doc:name="Choice - scheduler On?" doc:id="7c470acb-14bd-456e-b0fa-768ba8325f5e" >
			<when expression="p('schedule.enabled') == &quot;true&quot;">
				<flow-ref doc:name="call filePoller_main" doc:id="4fc231a6-b61d-4a9b-975a-bb229736d982" name="filePoller_main"/>
			</when>
		</choice>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="62bf73ff-329a-4c5a-bafe-cea4922f64ef" >
				<flow-ref doc:name="filePoller_ErrorHandler" doc:id="63987491-791d-4e19-b425-4d23935bd5d2" name="filePoller_ErrorHandler"/>
			</on-error-continue>
		</error-handler>
	</flow>
	
	<sub-flow name="filePoller_main" doc:id="e2ced698-3eeb-4353-b07e-41b6972bdfed" >
		<choice doc:name="Choice - throttlingFlag?" doc:id="27fcd49f-4260-4770-a333-ca877fdee0f0">
			<when expression="p('throttling.flag') == &quot;true&quot;">
				<flow-ref doc:name="filePoller_throttlingCount" doc:id="16d2374d-2fe2-4ddd-ac59-ecd448012ba3" name="filePoller_throttlingCount"/>
				<choice doc:name="Choice - remainingCount?" doc:id="0d13cf9d-a3fb-40a5-a26d-34c59a225f6b">
					<when expression="#[vars.remainingCount &gt; 0]">
						<salesforce:query doc:name="Query FRPPFile" doc:id="61ddd83e-364a-49a7-88a0-6f9be4b9cb78" config-ref="SalesforceGeoFL3_Global" target="filePayloads">
					<salesforce:salesforce-query>Select ID, File_Name__c, File_Type__c, File_Extension__c, Status__c, AGENCY_CODE__c,  Attachment_ID__c, createdby.email from FRPP_FILE__c where Active__c=True and File_Type__c='CR' and Status__c='Staging In Progress2' Order By CreatedDate LIMIT :limitCount</salesforce:salesforce-query>
					<salesforce:parameters><![CDATA[#[output application/java
---
{
	"limitCount" : vars.remainingCount
}]]]></salesforce:parameters>
				</salesforce:query>
						<remove-variable doc:name="Remove processingCount" doc:id="73027f08-f8bd-4c1e-a5b7-e4946a106c75" variableName="processingCount" />
						<remove-variable doc:name="Remove remainingCount" doc:id="8d0ef92c-de9a-4862-b788-c5c7d16c3472" variableName="remainingCount" />
					</when>
					<otherwise >
						<remove-variable doc:name="Remove Variable" doc:id="f920d35b-0aa8-445a-b72c-ace13d4a9fbc" variableName="filePayloads"/>
					</otherwise>
				</choice>
			</when>
			<otherwise>
				<salesforce:query doc:name="Query FRPPFile" doc:id="5c95169c-4a9e-49de-80a9-f522309b98c1" config-ref="SalesforceGeoFL3_Global" target="filePayloads">
					<salesforce:salesforce-query>Select ID, File_Name__c, File_Type__c, File_Extension__c, Status__c, AGENCY_CODE__c,  Attachment_ID__c, createdby.email from FRPP_FILE__c where Active__c=True and File_Type__c='CR' and Status__c='Staging In Progress2' Order By CreatedDate </salesforce:salesforce-query>
				</salesforce:query>
			</otherwise>
		</choice>
		<choice doc:name="Choice" doc:id="29f1ff28-be33-4323-bf07-1c33ac80c91d">
			<when expression="#[(vars.filePayloads == null)]">
				<set-payload value="FRPPFilePoller Flow Completed with Error: Reached Throttling Limit. No Files were processed this time." doc:name="set Http Response" doc:id="8305be69-ea75-4153-b72b-1492249928c4" />
			</when>
			<when expression="#[(sizeOf (vars.filePayloads) &gt; 0)]">
				<flow-ref doc:name="forEachFile Call" doc:id="9ead16c8-2d73-4884-97e3-ec78f0932c4d" name="forEachFile" />
				<set-payload value="FRPPFilePoller Flow Completed." doc:name="set Http Response" doc:id="fc3b7739-485e-476f-ad66-ef855a4be21d" />
			</when>
			<otherwise >
				<set-payload value="FRPPFilePoller Flow completed. Did not have any files to process." doc:name="No Files Found." doc:id="f2752b10-1dd8-49a2-a035-6fddf30e2ddd" />
			</otherwise>
		</choice>
	</sub-flow>
	
	<sub-flow name="filePoller_throttlingCount" doc:id="9d8b562e-b1fa-4caa-b533-4f05c533aadc" >
		
		<salesforce:get-server-timestamp doc:name="Get server timestamp" doc:id="1be6b39d-037c-4a55-85c7-8ef28908141c" config-ref="SalesforceGeoFL3_Global" target="sfCurrentTimeStamp" />
		<ee:transform doc:name="Transform Message" doc:id="36ecf742-c83c-40d6-b85c-586141e1a776">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="sfCurrentTimeStamp"><![CDATA[%dw 2.0
output application/java
---
vars.sfCurrentTimeStamp as DateTime {format: "yyyy-MM-DD'T'hh:mm:ss'Z'"} - |PT${inProcess.Hrs}H|]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:query doc:name="Processing Count" doc:id="ce4de255-f93b-4120-9405-5151133722b8" config-ref="SalesforceGeoFL3_Global" target="processingCount" targetValue="#[payload[0].expr0]">
			<salesforce:salesforce-query >Select Count(Id) from FRPP_FILE__c where Active__c=True and File_Type__c='CR' and (Status__c ='Processing' OR Status__c='Validation in progress') and LastModifiedDate  &gt; :sfCurrentTimeStamp</salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"sfCurrentTimeStamp" : vars.sfCurrentTimeStamp
}]]]></salesforce:parameters>
		</salesforce:query>
		<set-variable value="#[p('throttling.count') - vars.processingCount default 0]" doc:name="remainingCount" doc:id="85742016-f05a-4fdb-849a-433c2ec4f732" variableName="remainingCount" />
	</sub-flow>
	<sub-flow name="forEachFile" doc:id="ecbfc0ad-6183-448e-b419-9fb29be53374" >
		<foreach doc:name="For Each" doc:id="ce755569-60ed-4a6d-bf26-57473d374b5a" collection="vars.filePayloads">
			<set-variable value="#[payload]" doc:name="Save File Info" doc:id="a781f029-b46e-4bbb-8c29-dc6a2a5ecc55" variableName="file"/>
			<set-variable value="#[vars.file.FILE_NAME__c]" doc:name="Set FileName" doc:id="78c4ca86-db2d-416a-a850-ae4e10ad5328" variableName="fileName" />
			<ee:transform doc:name="set Request Payload" doc:id="ad42191f-e5a0-4e9f-a16d-ae2b864cc3b9" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="getQueueReq" ><![CDATA[%dw 2.0
output application/java
---
{ body: {filename:vars.fileName} }]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<salesforce:invoke-apex-rest-method doc:name="Retrieve Available Queue" doc:id="d75bc959-85c3-470e-89fe-3e33acfd43c3" config-ref="SalesforceGeoFL3_Global" className="FRPP_retrieveAvailableMuleQueue" methodName="getAvailableQueue^/OGPretriveAvailableMuleQueue/^HttpPost^String^" target="queueName" targetValue="#[payload.getAvailableQueueOutput]">
				<salesforce:request ><![CDATA[#[vars.getQueueReq]]]></salesforce:request>
			</salesforce:invoke-apex-rest-method>
		
			<remove-variable doc:name="Remove getQueueReq" doc:id="3cf4c7c8-c75c-4597-95fc-781101afff62" variableName="getQueueReq"/>
			<choice doc:name="Choice" doc:id="4aeeaed5-ee3c-44d7-9939-fb0f5277d2b2" >
				
				<when expression='#[startsWith(vars.queueName,"response")]' >
					<flow-ref doc:name="Call clearQueueFlow" doc:id="0008e72f-8a71-47e4-9393-fb211bf7680c" name="clearQueueFlow"/>
					<async doc:name="Async" doc:id="81fa03fb-c681-4390-9712-389a925361f6" >
						<flow-ref doc:name="Call to fileSplitter_main" doc:id="48c659bb-59df-4067-9ea4-84b39e8a5630" name="fileSplitter_main" target="fileResults" targetValue="#[payload]" />
					</async>
					<logger level="INFO" doc:name="log Results" doc:id="3106f214-e9e5-4867-9aaf-0f58402723a1" message="File: #[vars.fileName], Queue: #[vars.queueName]  launched processing." />
				</when>
				<when expression='#[startsWith(vars.queueName,"none")]' >
					<logger level="INFO" doc:name="No Queue Log" doc:id="ccab45c4-3bf3-491f-ac99-39479d0154df" message="File: #[vars.fileName]. No Queues Available from SF." />
				</when>
				<otherwise>
				<set-variable value='#["Error occured during processing the File:  " ++ vars.fileName ++". \n\n Error: " ++ vars.queueName ++ ". Cannot get QueueName from SF."]' doc:name="email Body" doc:id="e378a2fa-5a24-45c5-89bb-abc99152de3e" variableName="emailBody" />
				<flow-ref doc:name="supportEmailNotificationFlow" doc:id="ef7c48ca-0fe1-485b-a786-80faa5f64e61" name="supportEmailNotificationFlow" />
				
			</otherwise>
			</choice>
			<remove-variable doc:name="Remove file Variable" doc:id="a78e73da-eacb-4ad1-81c2-39ef9892e480" variableName="file" />
		</foreach>
	</sub-flow>
	<sub-flow name="filePoller_ErrorHandler" doc:id="bcb60c0c-d40c-4124-af01-bf4d8a3e14f2" >
		<flow-ref doc:name="releaseQueue" doc:id="3738e0ff-a371-4b27-88f1-ead6439a2e1a" name="releaseQueue" />
		<logger level="INFO" doc:name="Error Log" doc:id="0c52be7f-5348-4f19-bfd8-f9fd4791d6f3" message="ERROR: Error in filePoller Service: Error Type: #[error.errorType],  ErrorDescription: #[error.detailedDescription]." />
		<ee:transform doc:name="set error Msg" doc:id="7b45718c-97ce-4ab2-bfa5-a1024527d966">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="errorMsg"><![CDATA[%dw 2.0
output application/java
---
[
  ("ErrorType:   " ++ error.errorType.namespace ++ ":" ++ error.errorType.identifier), 	
  ("Description: " ++ error.detailedDescription)
]

]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
		<set-variable value='#["Error occured during processing filePoller Service. \n\nPlease find attached error details."]' doc:name="email Body" doc:id="9faf370a-57ba-4b57-b805-94ab062e477e" variableName="emailBody" />
		<flow-ref doc:name="supportEmailNotificationFlow" doc:id="b295d143-120e-4922-a86f-7108b8dcf45a" name="supportEmailNotificationFlow" />
		<set-payload value='#["ErrorType: " ++ error.errorType.namespace ++ ":" ++ error.errorType.identifier ++ ", ErrorDescription: " ++ error.detailedDescription ++ " For FileName: " ++ vars.filename]' doc:name="Set Error Payload" doc:id="63062486-1be2-488d-b58d-6815f6ed991b" />
	</sub-flow>
</mule>
