src/main/mule/FRPPFilePoller.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="filePoller_httpInvoke" doc:id="8691bd5d-915c-40cb-bf8c-70de469181fc">
		<http:listener doc:name="Listener" doc:id="2a2cc1f1-2116-48cb-bf54-05fc01d32c24" config-ref="HTTP_Listener_config_Global" path="/frppload" />
		<choice doc:name="Choice - fileName Provided?" doc:id="705f188d-eff4-48a8-906a-d62466b5cc58">
			<when expression='#[attributes.queryParams.fileName != null and attributes.queryParams.fileName != ""]'>
				<flow-ref doc:name="filePoller_throttlingCount" doc:id="b7da2118-6166-45b5-a4b1-f61694a8eb4d" name="filePoller_throttlingCount"/>
				<choice doc:name="Choice - Throttling Limit?" doc:id="5da97c3b-6423-4338-aeb5-a0ca9dc4cad2">
					<when expression="#[(vars.remainingCount &gt; 0) or (p('throttling.flag') != &quot;true&quot;)]">
						<salesforce:query doc:name="Get the List of Files" doc:id="a43fabe5-6bf7-41f0-b7a2-29b4b0ec4cdb" config-ref="SalesforceGeoFL3_Global" target="filePayloads">
			<salesforce:salesforce-query>Select ID, File_Name__c, File_Type__c, File_Extension__c, Status__c, AGENCY_CODE__c, Attachment_ID__c, createdby.email from FRPP_FILE__c where Active__c=True and File_Type__c='CR' and Status__c='Staging In Progress2'  and FILE_NAME__c = ':fileName'</salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	"fileName" : attributes.queryParams.fileName
}]]]></salesforce:parameters>

		</salesforce:query>
						<choice doc:name="Choice - Payload Size &gt; 0?" doc:id="917b5e96-f1c7-4d6a-9f06-0ed848a199d0">
					<when expression="#[sizeOf (vars.filePayloads) &gt; 0]">
						<flow-ref doc:name="Call to forEachFile" doc:id="ad7028e1-4b01-4ddb-8117-0ecd17d4f7f3" name="forEachFile" />
						<set-payload value="FRPPFilePoller Flow Completed." doc:name="set Http Response" doc:id="c645d85a-2bba-4688-b3d5-bfe5880fb52b" />
					</when>
					<otherwise>
						<set-variable value='#["FRPPFilePoller services was called with a File Name: " ++ attributes.queryParams.fileName ++ ".\n\nNo matching file payload found in SalesForce with that name."]' doc:name="email Body - No Matching File." doc:id="0473caa2-bfa9-4bb0-ac2c-cde9ec7c684c" variableName="emailBody" />
						<flow-ref doc:name="supportEmailNotificationFlow" doc:id="ef32e956-09ee-4a6c-9d99-2981dc50cb80" name="supportEmailNotificationFlow" />
						<set-payload value="FRPPFilePoller Flow Completed with Error: No matching File found" doc:name="No Matching File." doc:id="7439a344-2b50-4ee2-bcc2-ed06b55678ee" />
					</otherwise>
				</choice>
					</when>
					<otherwise >
						<set-payload value="Reached Max Throttling Limit. No files were processed." doc:name="Throttling Limit Reached." doc:id="6834f5b5-3984-40da-8b49-ee4f5e88e0ea" />
					</otherwise>
				</choice>
			</when>
			<otherwise>
				<flow-ref doc:name="call filePoller_main" doc:id="01e220a9-a24c-4414-b7e0-3322472cfe85" name="filePoller_main" />
			</otherwise>
		</choice>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="fb0c7c8c-2c30-4cd1-b1aa-11f9fb8b7e76" >
				<flow-ref doc:name="filePoller_ErrorHandler" doc:id="ae07f200-c614-48fc-953c-faffb02972ea" name="filePoller_ErrorHandler"/>
			</on-error-continue>
		</error-handler>
	</flow>
	
	<flow name="filePoller_schedule" doc:id="69341fe0-85f5-4875-a354-184e94324f40" >
		<scheduler doc:name="Scheduler" doc:id="12c1c5a4-3fc4-4da7-b967-8fdae870a699" >
			<scheduling-strategy >
				<fixed-frequency timeUnit="SECONDS" frequency="${schedule.time.sec}"/>
			</scheduling-strategy>
		</scheduler>
		<choice doc:name="Choice - scheduler On?" doc:id="f821fd6a-ea3f-43e9-9174-495d7a20278f" >
			<when expression="p('schedule.enabled') == &quot;true&quot;">
				<flow-ref doc:name="call filePoller_main" doc:id="169eb04b-d100-4bb7-bf1b-6ef8b5d82546" name="filePoller_main"/>
			</when>
		</choice>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="24d08e13-0d94-49d3-b613-c9491513cf58" >
				<flow-ref doc:name="filePoller_ErrorHandler" doc:id="6154aba5-b5c3-4976-bb25-ba4c52f8d77e" name="filePoller_ErrorHandler"/>
			</on-error-continue>
		</error-handler>
	</flow>
	
	<sub-flow name="filePoller_main" doc:id="f93baf2a-3b91-4107-9565-0e5cdc8f8dab" >
		<choice doc:name="Choice - throttlingFlag?" doc:id="f91427aa-a876-47d4-b98f-831959747aae">
			<when expression="p('throttling.flag') == &quot;true&quot;">
				<flow-ref doc:name="filePoller_throttlingCount" doc:id="3e60fe50-831a-42d4-a09a-7ed9bd4f16d4" name="filePoller_throttlingCount"/>
				<choice doc:name="Choice - remainingCount?" doc:id="964c4f6c-9afc-4571-af84-ffc6cb2793d8">
					<when expression="#[vars.remainingCount &gt; 0]">
						<salesforce:query doc:name="Query FRPPFile" doc:id="e3840446-af23-4b63-b5be-9491df1110f8" config-ref="SalesforceGeoFL3_Global" target="filePayloads">
					<salesforce:salesforce-query>Select ID, File_Name__c, File_Type__c, File_Extension__c, Status__c, AGENCY_CODE__c,  Attachment_ID__c, createdby.email from FRPP_FILE__c where Active__c=True and File_Type__c='CR' and Status__c='Staging In Progress2' Order By CreatedDate LIMIT :limitCount</salesforce:salesforce-query>
					<salesforce:parameters><![CDATA[#[output application/java
---
{
	"limitCount" : vars.remainingCount
}]]]></salesforce:parameters>
				</salesforce:query>
						<remove-variable doc:name="Remove processingCount" doc:id="0fa3be88-41d1-4af9-9d72-3a60e07cf880" variableName="processingCount" />
						<remove-variable doc:name="Remove remainingCount" doc:id="8741f281-4824-4a64-b112-83216ca2e50d" variableName="remainingCount" />
					</when>
					<otherwise >
						<remove-variable doc:name="Remove Variable" doc:id="da5ff57f-7091-401a-8d78-cce1cefbcd83" variableName="filePayloads"/>
					</otherwise>
				</choice>
			</when>
			<otherwise>
				<salesforce:query doc:name="Query FRPPFile" doc:id="81e02fd4-f972-497a-bf77-e2ac078d9223" config-ref="SalesforceGeoFL3_Global" target="filePayloads">
					<salesforce:salesforce-query>Select ID, File_Name__c, File_Type__c, File_Extension__c, Status__c, AGENCY_CODE__c,  Attachment_ID__c, createdby.email from FRPP_FILE__c where Active__c=True and File_Type__c='CR' and Status__c='Staging In Progress2' Order By CreatedDate </salesforce:salesforce-query>
				</salesforce:query>
			</otherwise>
		</choice>
		<choice doc:name="Choice" doc:id="1d3e541c-497e-4643-9a5c-5a4986e438c9">
			<when expression="#[(vars.filePayloads == null)]">
				<set-payload value="FRPPFilePoller Flow Completed with Error: Reached Throttling Limit. No Files were processed this time." doc:name="set Http Response" doc:id="0c1c48e2-487b-4e27-9c97-4d4341cdafdc" />
			</when>
			<when expression="#[(sizeOf (vars.filePayloads) &gt; 0)]">
				<flow-ref doc:name="forEachFile Call" doc:id="b7f6bf1f-b5e7-42c2-b2a1-45c68580ceab" name="forEachFile" />
				<set-payload value="FRPPFilePoller Flow Completed." doc:name="set Http Response" doc:id="47bc3da5-2c3b-40b4-b03a-81decad78994" />
			</when>
			<otherwise >
				<set-payload value="FRPPFilePoller Flow completed. Did not have any files to process." doc:name="No Files Found." doc:id="026d35f8-8990-41be-b79b-bd19c7f6a4fc" />
			</otherwise>
		</choice>
	</sub-flow>
	
	<sub-flow name="filePoller_throttlingCount" doc:id="2d5c9863-327a-479e-bc4b-81952d3c078e" >
		
		<salesforce:get-server-timestamp doc:name="Get server timestamp" doc:id="379e3ceb-62ea-4ac6-9a5c-76b41b2083ac" config-ref="SalesforceGeoFL3_Global" target="sfCurrentTimeStamp" />
		<ee:transform doc:name="Transform Message" doc:id="43d24454-d62e-4708-a0e4-82a203a8fa62">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="sfCurrentTimeStamp"><![CDATA[%dw 2.0
output application/java
---
vars.sfCurrentTimeStamp as DateTime {format: "yyyy-MM-DD'T'hh:mm:ss'Z'"} - |PT${inProcess.Hrs}H|]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:query doc:name="Processing Count" doc:id="08e14041-00a5-41c1-8a16-9da5a221ac3f" config-ref="SalesforceGeoFL3_Global" target="processingCount" targetValue="#[payload[0].expr0]">
			<salesforce:salesforce-query >Select Count(Id) from FRPP_FILE__c where Active__c=True and File_Type__c='CR' and (Status__c ='Processing' OR Status__c='Validation in progress') and LastModifiedDate  &gt; :sfCurrentTimeStamp</salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"sfCurrentTimeStamp" : vars.sfCurrentTimeStamp
}]]]></salesforce:parameters>
		</salesforce:query>
		<set-variable value="#[p('throttling.count') - vars.processingCount default 0]" doc:name="remainingCount" doc:id="85605a2d-10ba-41fa-b96f-b6d50f2e3eb6" variableName="remainingCount" />
	</sub-flow>
	<sub-flow name="forEachFile" doc:id="73603820-fca7-4a95-a9c8-efb67f2c050f" >
		<foreach doc:name="For Each" doc:id="df6538ff-9846-4e32-a34a-6b5283d155cc" collection="vars.filePayloads">
			<set-variable value="#[payload]" doc:name="Save File Info" doc:id="8541522c-decf-417c-95f3-790ca3e6d728" variableName="file"/>
			<set-variable value="#[vars.file.FILE_NAME__c]" doc:name="Set FileName" doc:id="749e2ce9-7398-46d0-9560-a2ebce3515b5" variableName="fileName" />
			<async doc:name="Async" doc:id="9157156d-eef9-4069-aa43-059914d678b0" >
				<flow-ref doc:name="Call to fileSplitter_main" doc:id="112ed40a-5431-4151-9bac-ebc97d709e69" name="fileSplitter_main" target="fileResults" targetValue="#[payload]" />
			</async>
			<remove-variable doc:name="Remove file Variable" doc:id="e6940671-1721-43cf-bc25-d74acbf03937" variableName="file"/>
			<logger level="INFO" doc:name="log Results" doc:id="f5eac2fc-e5ed-4e61-a5dd-58a92a0c074a" message="File: #[vars.fileName]  launched processing." />
		</foreach>
	</sub-flow>
	<sub-flow name="filePoller_ErrorHandler" doc:id="f51f50a4-c67f-4318-b277-2996d6b75d87" >
		<logger level="INFO" doc:name="Error Log" doc:id="9b6ff1f7-d7ed-4cc1-87fe-028c681ab40f" message="ERROR: Error in filePoller Service: Error Type: #[error.errorType],  ErrorDescription: #[error.detailedDescription]." />
		<ee:transform doc:name="set error Msg" doc:id="a6be3b32-b058-460a-a9b8-7bc5302ff405">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="errorMsg"><![CDATA[%dw 2.0
output application/java
---
[
  ("ErrorType:   " ++ error.errorType.namespace ++ ":" ++ error.errorType.identifier), 	
  ("Description: " ++ error.detailedDescription)
]

]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
		<set-variable value='#["Error occured during processing filePoller Service. \n\nPlease find attached error details."]' doc:name="email Body" doc:id="fa03939d-f1d9-42b4-86db-f08ae64f612b" variableName="emailBody" />
		<flow-ref doc:name="supportEmailNotificationFlow" doc:id="e437859c-40d6-441c-9b46-5c1f419775a5" name="supportEmailNotificationFlow" />
		<set-payload value='#["ErrorType: " ++ error.errorType.namespace ++ ":" ++ error.errorType.identifier ++ ", ErrorDescription: " ++ error.detailedDescription ++ " For FileName: " ++ vars.filename]' doc:name="Set Payload" doc:id="158039c4-2637-4509-a27f-ed19459ea700" />
	</sub-flow>
</mule>