src/main/mule/frppFileSplitter.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd 
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<flow name="fileSplitter_main" doc:id="4511cec7-8115-44d7-8a08-16b949804d9a">
		<logger level="INFO" doc:name="MuleX" doc:id="910f7d5d-8d42-4ff8-bf84-4b9eb1cc2172" message="MuleX: FrppFileSplitter Service Started."/>
		<logger level="INFO" doc:name="1.Process Started" doc:id="ac16809f-df2e-488f-93fd-e34f82575482" message="File ID: #[vars.file.Id], File Name: #[vars.fileName] --&gt; 1.Process Started"/>
		<ee:transform doc:name="Set Status To Processing" doc:id="82e88c7e-7a60-44a9-a814-eec70c912368" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="updateStatusReq" ><![CDATA[%dw 2.0
output application/json
---
[{
	Id: vars.file.Id,
	Status__c: p('status1')   //Processing
}
]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="SetFileStatus" doc:id="16f767ff-1e5a-49c1-8ce4-0ca2691a8763" name="SetStatuses"/>
		<salesforce:query doc:name="Read File Attachment" doc:id="41d5489c-3c7f-4b76-a4c7-b36285bbc773" config-ref="SalesforceGeoFL3_Global">
			<salesforce:salesforce-query>SELECT Id, Body FROM Attachment where Id= ':attachmentId'</salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	"attachmentId" : vars.file.Attachment_ID__c
}]]]></salesforce:parameters>
		</salesforce:query>
 
 <choice doc:name="Choice" doc:id="18ffe5a1-e6d2-40dd-9eb1-a3e9b0f7d2f4" >
			<when expression="#[vars.file.File_Extension__c == 'CSV']">
				<set-payload value="#[payload[0].Body]" doc:name="Read CSV  Payload" doc:id="f541d65a-d177-41f1-89bd-13fde9169b5c" mimeType="application/csv" />
				<ee:transform doc:name="get assetType" doc:id="576a336f-cd30-429b-9181-e4e5e4f069ea">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="assetType"><![CDATA[%dw 2.0
 output application/json 
 var astType = {(payload default [] map  {
          (($[0] default "" splitBy "|")[0]) : (($[0] default "" splitBy "|")[0])
     } 
 )}
 ---
 
   astType[0]
 
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
				<ee:transform doc:name="CSV TO XML" doc:id="9e41cd86-7377-427f-848c-3640a901691b">
			<ee:message>
			</ee:message>
					<ee:variables >
						<ee:set-variable variableName="assetPayload" ><![CDATA[%dw 2.0
 output application/xml inlineCloseOn="nonEmpty",encoding="UTF-8"
 ---
 using (keyPair = (payload[0] pluck $$ default "")[0] splitBy "|" ){
  FRPPData  @(AGENCYCODE: keyPair[3],ACTION:keyPair[2],FY:keyPair[1]) : {(payload default [] map  {
          (($[0] default "" splitBy "|")[0]) : 
             {(($[0] default "" splitBy "|")[1 to -1] default [] map {
              ("Field" ++ ($$+1)) : $
          })} 
     }
 )}
 }
]]></ee:set-variable>
					</ee:variables>
		</ee:transform>
				<choice doc:name="Choice" doc:id="c56cab9b-9100-4f40-b489-fba9f16f0c62">
					<when expression='#[vars.assetType == "BLDG"]'>
						<ee:transform doc:name="BLDG" doc:id="501cffb5-247a-4dd2-b764-ca7be9f8b3c5" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
 output application/xml inlineCloseOn="nonEmpty",encoding="UTF-8", skipNullOn="everything"
 ---
 {
 FRPPData @(AGENCYCODE:vars.assetPayload.FRPPData.@AGENCYCODE, ACTION:vars.assetPayload.FRPPData.@ACTION, FY:vars.assetPayload.FRPPData.@FY) : [
 	Type35Building: vars.assetPayload.FRPPData.*BLDG map (asset, index) ->  {
		RealPropertyType: "35",
		(RealPropertyUse  :  asset.Field1) if (asset.Field1 != null),
		(FieldOffice : asset.Field2) if (asset.Field2 != null),
		(FieldOfficeCollocation : asset.Field3) if (asset.Field2 != null),
		
		(LegalInterest: {
			(LegalInterestIndicator : asset.Field4) if (asset.Field4 != null),
			(LeaseAuthorityIndicator : asset.Field5) if (asset.Field5 != null)
			}) if (asset.Field4 != null or asset.Field5 != null),
		
		(Status: {
			(StatusIndicator : asset.Field6) if (asset.Field6 != null),
			(SurplusDeclarationDate : asset.Field7) if (asset.Field7 != null),
			(ReportOfExcessSubmittedDate : asset.Field8) if (asset.Field8 != null),
			(ReportOfExcessAcceptedDate : asset.Field9) if (asset.Field9 != null),
			(DeterminationToDisposeDate : asset.Field10) if (asset.Field10 != null),
			(CannotCurrentlyBeDisposedDate : asset.Field11) if (asset.Field11 != null),
			(OutgrantIndicator : asset.Field12) if (asset.Field12 != null),
			(CannotCurrentlyBeDisposed : asset.Field13) if (asset.Field13 != null),	
			}) if (asset.Field6 != null or asset.Field7 != null or asset.Field8 != null or asset.Field9 != null or asset.Field10 != null or asset.Field11 != null or asset.Field12 != null or asset.Field13 != null),
		
		(RealProperty : asset.Field14) if (asset.Field14 != null),
		(FOIAExemption : asset.Field15) if (asset.Field15 != null),
		(StatutoryCitation : asset.Field16) if (asset.Field16 != null),
		(HistoricalStatus : asset.Field17) if (asset.Field17 != null),
		(ReportingAgency : asset.Field18) if (asset.Field18 != null),
		(UsingOrganization : asset.Field19) if (asset.Field19 != null),
		(LeaseExpirationDate : asset.Field20) if (asset.Field20 != null),
		(LeaseStartDate : asset.Field21) if (asset.Field21 != null),
		(LeaseOccupancyDate : asset.Field22) if (asset.Field22 != null),
		(IsAssetExcluded : asset.Field23) if (asset.Field23 != null),
		(ReasonForExclusion : asset.Field24) if (asset.Field24 != null),				
		(YearOfAssetConstruction : asset.Field25) if (asset.Field25 != null),
		(CanNumberOfFederalEmployeesBeDetermined : asset.Field26) if (asset.Field26 != null),
		(CanNumberOfFederalContractorsBeDetermined : asset.Field27) if (asset.Field27 != null),
		
		(Personnel:{
			(FederalEmployees : asset.Field28) if (asset.Field28 != null),
			(FederalContractors : asset.Field29) if (asset.Field29 != null)
			}) if (asset.Field28 != null or asset.Field29 != null),
			
		(YearAssetReportedUnderutilized : asset.Field30) if (asset.Field30 != null),
		
		(Size:{
			(SquareFeet : asset.Field31) if (asset.Field31 != null),
			(SquareFeetUnitOfMeasure : asset.Field32) if (asset.Field32 != null)
			}) if (asset.Field31 != null or asset.Field32 != null),
			
		(ReplacementValue : asset.Field33) if (asset.Field33 != null),
		(RepairNeeds : asset.Field34) if (asset.Field34 != null),
		(HistoricalCapitalExpenditures : asset.Field35) if (asset.Field35 != null),
		(EstimatedFutureCapitalExpenditures : asset.Field36) if (asset.Field36 != null),
		
		(AnnualOperatingCosts:{
			(LeasedAnnualOperatingCosts : asset.Field37) if (asset.Field37 != null),
			(LeasedAnnualMaintenanceCosts : asset.Field38) if (asset.Field38 != null),
			(LeaseAnnualRent : asset.Field39) if (asset.Field39 != null),
			(OwnedandOtherwiseManagedAnnualOperatingCosts : asset.Field40) if (asset.Field40 != null),
			(OwnedandOtherwiseManagedAnnualMaintenanceCosts : asset.Field41) if (asset.Field41 != null)
			}) if (asset.Field37 != null or asset.Field38 != null or asset.Field39 != null or asset.Field40 != null or asset.Field41 != null),
		
		(MainLocation:{
			(StreetAddress : asset.Field42) if (asset.Field42 != null),
			(Latitude : asset.Field43) if (asset.Field43 != null),
			(Longitude : asset.Field44) if (asset.Field44 != null)
			}) if (asset.Field42 != null or asset.Field43 != null or asset.Field44 != null),
		(RealPropertyUniqueIdentifier : asset.Field45) if (asset.Field45 != null),
		(City : asset.Field46) if (asset.Field46 != null),
		(State : asset.Field47) if (asset.Field47 != null),
		(Country : asset.Field48) if (asset.Field48 != null),
		(County : asset.Field49) if (asset.Field49 != null),
		(CongressionalDistricts : asset.Field50) if (asset.Field50 != null),
		(Zipcode : asset.Field51) if (asset.Field51 != null),
		
		(InstallationAndSubInstallationIdentifier:{
			(InstallationName : asset.Field52) if (asset.Field52 != null),
			(InstallationIdentifier : asset.Field53) if (asset.Field53 != null),
			(SubInstallationIdentifier : asset.Field54) if (asset.Field54 != null),
			}) if (asset.Field52 != null or asset.Field53 != null or asset.Field54 != null),
			
		(Utilization : asset.Field55) if (asset.Field55 != null),
		(IsSustainable : asset.Field56) if (asset.Field56 != null),
		
		(DispositionData:{
			(DispositionMethod : asset.Field57) if (asset.Field57 != null),
			(DispositionDate : asset.Field58) if (asset.Field58 != null),
			(DispositionValue : asset.Field59) if (asset.Field59 != null),
			(NetProceeds : asset.Field60) if (asset.Field60 != null),
			}) if (asset.Field57 != null or asset.Field58 != null or asset.Field59 != null or asset.Field60 != null),
		(AssetHeight: asset.Field61) if (asset.Field61 != null),
	 	(AssetHeightRange: asset.Field62) if (asset.Field62 != null)
	   }
 	]
 }
 	
 	]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</when>
					<when expression='#[vars.assetType == "LAND"]'>
						<ee:transform doc:name="LAND" doc:id="efbecc1b-d417-406f-93ca-78b1160b868c" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
 output application/xml inlineCloseOn="nonEmpty",encoding="UTF-8", skipNullOn="everything"
 ---
 {
 FRPPData @(AGENCYCODE:vars.assetPayload.FRPPData.@AGENCYCODE, ACTION:vars.assetPayload.FRPPData.@ACTION, FY:vars.assetPayload.FRPPData.@FY) : [
 	Type20Land: vars.assetPayload.FRPPData.*LAND map (asset, index) ->  {
		RealPropertyType: "20",
		(RealPropertyUse  :  asset.Field1) if (asset.Field1 != null),
		(LegalInterest: {
			(LegalInterestIndicator : asset.Field2) if (asset.Field2 != null),
			(LeaseAuthorityIndicator : asset.Field3) if (asset.Field3 != null)
			}) if (asset.Field2 != null or asset.Field3 != null),
		
		(Status: {
			(StatusIndicator : asset.Field4) if (asset.Field4 != null),
			(SurplusDeclarationDate : asset.Field5) if (asset.Field5 != null),
			(ReportOfExcessSubmittedDate : asset.Field6) if (asset.Field6 != null),
			(ReportOfExcessAcceptedDate : asset.Field7) if (asset.Field7 != null),
			(DeterminationToDisposeDate : asset.Field8) if (asset.Field8 != null),
			(CannotCurrentlyBeDisposedDate : asset.Field9) if (asset.Field9 != null),
			(OutgrantIndicator : asset.Field10) if (asset.Field10 != null),
			(CannotCurrentlyBeDisposed : asset.Field11) if (asset.Field11 != null),	
			}) if (asset.Field4 != null or asset.Field5 != null or asset.Field6 != null or asset.Field7 != null or asset.Field8 != null or asset.Field9 != null or asset.Field10 != null or asset.Field11 != null),
		(RealProperty : asset.Field12) if (asset.Field12 != null),
		(FOIAExemption : asset.Field13) if (asset.Field13 != null),
		(StatutoryCitation : asset.Field14) if (asset.Field14 != null),
		(HistoricalStatus : asset.Field15) if (asset.Field15 != null),
		(ReportingAgency : asset.Field16) if (asset.Field16 != null),
		(UsingOrganization : asset.Field17) if (asset.Field17 != null),
		(LeaseExpirationDate : asset.Field18) if (asset.Field18 != null),
		(LeaseStartDate : asset.Field19) if (asset.Field19 != null),
		(LeaseOccupancyDate : asset.Field20) if (asset.Field20 != null),
		(IsAssetExcluded : asset.Field21) if (asset.Field21 != null),
		(ReasonForExclusion : asset.Field22) if (asset.Field22 != null),			
			
		(Size:{
			(Acres : asset.Field23) if (asset.Field23 != null)
			}) if (asset.Field23 != null),
			
		(AnnualOperatingCosts:{
			(LeasedAnnualOperatingCosts : asset.Field24) if (asset.Field24 != null),
			(LeasedAnnualMaintenanceCosts : asset.Field25) if (asset.Field25 != null),
			(LeaseAnnualRent : asset.Field26) if (asset.Field26 != null),
			(OwnedandOtherwiseManagedAnnualOperatingCosts : asset.Field27) if (asset.Field27 != null),
			(OwnedandOtherwiseManagedAnnualMaintenanceCosts : asset.Field28) if (asset.Field28 != null)
			}) if (asset.Field24 != null or asset.Field25 != null or asset.Field26 != null or asset.Field27 != null or asset.Field28 != null), 
			
		(MainLocation:{
			(StreetAddress : asset.Field29) if (asset.Field29 != null),
			(Latitude : asset.Field30) if (asset.Field30 != null),
			(Longitude : asset.Field31) if (asset.Field31 != null)
			}) if (asset.Field29 != null or asset.Field30 != null or asset.Field31 != null),
	
		(RealPropertyUniqueIdentifier : asset.Field32) if (asset.Field32 != null),
		(City : asset.Field33) if (asset.Field33 != null),
		(State : asset.Field34) if (asset.Field34 != null),
		(Country : asset.Field35) if (asset.Field35 != null),
		(County : asset.Field36) if (asset.Field36 != null),
		(CongressionalDistricts : asset.Field37) if (asset.Field37 != null),
		(Zipcode : asset.Field38) if (asset.Field38 != null),
		
		
		
		(InstallationAndSubInstallationIdentifier:{
			(InstallationName : asset.Field39) if (asset.Field39 != null),
			(InstallationIdentifier : asset.Field40) if (asset.Field40 != null),
			(SubInstallationIdentifier : asset.Field41) if (asset.Field41 != null),
			}) if (asset.Field39 != null or asset.Field40 != null or asset.Field41 != null),
			
		(Utilization : asset.Field42) if (asset.Field42 != null),	
		
		(DispositionData:{
			(DispositionMethod : asset.Field43) if (asset.Field43 != null),
			(DispositionDate : asset.Field44) if (asset.Field44 != null),
			(DispositionValue : asset.Field45) if (asset.Field45 != null),
			(NetProceeds : asset.Field46) if (asset.Field46 != null),
			}) if (asset.Field43 != null or asset.Field44 != null or asset.Field45 != null or asset.Field46 != null)
	 	}
 	]
 }
 	
 	]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</when>
					<when expression='#[vars.assetType == "STRUC"]'>
						<ee:transform doc:name="STRUC" doc:id="fa836105-32d3-4116-83d7-3ba9df008f2f" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
 output application/xml inlineCloseOn="nonEmpty",encoding="UTF-8", skipNullOn="everything"
 ---
 {
 FRPPData @(AGENCYCODE:vars.assetPayload.FRPPData.@AGENCYCODE, ACTION:vars.assetPayload.FRPPData.@ACTION, FY:vars.assetPayload.FRPPData.@FY) : [
 	Type40Structure: vars.assetPayload.FRPPData.*STRUC map (asset, index) ->  {
		RealPropertyType: "40",
		(RealPropertyUse  :  asset.Field1) if (asset.Field1 != null),
		
		(LegalInterest: {
			(LegalInterestIndicator : asset.Field2) if (asset.Field2 != null),
			(LeaseAuthorityIndicator : asset.Field3) if (asset.Field3 != null)
			}) if (asset.Field2 != null or asset.Field3 != null),
		
		(Status: {
			(StatusIndicator : asset.Field4) if (asset.Field4 != null),
			(SurplusDeclarationDate : asset.Field5) if (asset.Field5 != null),
			(ReportOfExcessSubmittedDate : asset.Field6) if (asset.Field6 != null),
			(ReportOfExcessAcceptedDate : asset.Field7) if (asset.Field7 != null),
			(DeterminationToDisposeDate : asset.Field8) if (asset.Field8 != null),
			(CannotCurrentlyBeDisposedDate : asset.Field9) if (asset.Field9 != null),
			(OutgrantIndicator : asset.Field10) if (asset.Field10 != null),
			(CannotCurrentlyBeDisposed : asset.Field11) if (asset.Field11 != null),	
			}) if (asset.Field4 != null or asset.Field5 != null or asset.Field6 != null or asset.Field7 != null or asset.Field8 != null or asset.Field9 != null or asset.Field10 != null or asset.Field11 != null),
		
		(RealProperty : asset.Field12) if (asset.Field12 != null),
		(FOIAExemption : asset.Field13) if (asset.Field13 != null),
		(StatutoryCitation : asset.Field14) if (asset.Field14 != null),
		(HistoricalStatus : asset.Field15) if (asset.Field15 != null),
		(ReportingAgency : asset.Field16) if (asset.Field16 != null),
		(UsingOrganization : asset.Field17) if (asset.Field17 != null),
		(LeaseExpirationDate : asset.Field18) if (asset.Field18 != null),
		(LeaseStartDate : asset.Field19) if (asset.Field19 != null),
		(LeaseOccupancyDate : asset.Field20) if (asset.Field20 != null),
		(IsAssetExcluded : asset.Field21) if (asset.Field21 != null),
		(ReasonForExclusion : asset.Field22) if (asset.Field22 != null),				
		(YearOfAssetConstruction : asset.Field23) if (asset.Field23 != null),
		
		(Size:{
			(StructuralUnit : asset.Field24) if (asset.Field24 != null),
			(UnitOfMeasure : asset.Field25) if (asset.Field25 != null)
			}) if (asset.Field24 != null or asset.Field25 != null),
			
		(ReplacementValue : asset.Field26) if (asset.Field26 != null),
		(RepairNeeds : asset.Field27) if (asset.Field27 != null),
		(HistoricalCapitalExpenditures : asset.Field28) if (asset.Field28 != null),
		(EstimatedFutureCapitalExpenditures : asset.Field29) if (asset.Field29 != null),
		
		(AnnualOperatingCosts:{
			(LeasedAnnualOperatingCosts : asset.Field30) if (asset.Field30 != null),
			(LeasedAnnualMaintenanceCosts : asset.Field31) if (asset.Field31 != null),
			(LeaseAnnualRent : asset.Field32) if (asset.Field32 != null),
			(OwnedandOtherwiseManagedAnnualOperatingCosts : asset.Field33) if (asset.Field33 != null),
			(OwnedandOtherwiseManagedAnnualMaintenanceCosts : asset.Field34) if (asset.Field34 != null)
			}) if (asset.Field30 != null or asset.Field31 != null or asset.Field32 != null or asset.Field33 != null or asset.Field34 != null),
		
		(MainLocation:{
			(StreetAddress : asset.Field35) if (asset.Field35 != null),
			(Latitude : asset.Field36) if (asset.Field36 != null),
			(Longitude : asset.Field37) if (asset.Field37 != null)
			}) if (asset.Field35 != null or asset.Field36 != null or asset.Field37 != null),
		(RealPropertyUniqueIdentifier : asset.Field38) if (asset.Field38 != null),
		(City : asset.Field39) if (asset.Field39 != null),
		(State : asset.Field40) if (asset.Field40 != null),
		(Country : asset.Field41) if (asset.Field41 != null),
		(County : asset.Field42) if (asset.Field42 != null),
		(CongressionalDistricts : asset.Field43) if (asset.Field43 != null),
		(Zipcode : asset.Field44) if (asset.Field44 != null),
		
		(InstallationAndSubInstallationIdentifier:{
			(InstallationName : asset.Field45) if (asset.Field45 != null),
			(InstallationIdentifier : asset.Field46) if (asset.Field46 != null),
			(SubInstallationIdentifier : asset.Field47) if (asset.Field47 != null),
			}) if (asset.Field45 != null or asset.Field46 != null or asset.Field47 != null),
			
		(Utilization : asset.Field48) if (asset.Field48 != null),
		
		(DispositionData:{
			(DispositionMethod : asset.Field49) if (asset.Field49 != null),
			(DispositionDate : asset.Field50) if (asset.Field50 != null),
			(DispositionValue : asset.Field51) if (asset.Field51 != null),
			(NetProceeds : asset.Field52) if (asset.Field52 != null),
			}) if (asset.Field49 != null or asset.Field50 != null or asset.Field51 != null or asset.Field52 != null),
		(AssetHeight: asset.Field53) if (asset.Field53 != null),
	 	(AssetHeightRange: asset.Field54) if (asset.Field54 != null)
	   }
 	]
 }
 	
 	]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</when>
					<otherwise >
						<logger level="INFO" doc:name="Logger" doc:id="dd24b766-c146-473f-9559-9927d4c0714f" message="GOT CSV of invalid assetType. Must be BLDG, LAND or STRUC." />
						<raise-error doc:name="Raise error" doc:id="34963e3c-5dc7-461b-bd17-67ccfa93354f" type="CSV: INVALID_TYPE" description="GOT CSV of invalid assetType. Must be BLDG, LAND or STRUC."/>
					</otherwise>
				</choice>
			</when>
			<otherwise>
				<set-payload value="#[payload[0].Body]" doc:name="Read XML Payload" doc:id="9e1623af-7780-495a-9710-aeb8c4e467e8" mimeType="text/xml" />
			</otherwise>
		</choice>
 
 
		<ee:transform doc:name="Transform Input To XML(2)" doc:id="9d1e1ad7-d2f1-448a-a297-f0739e0e675d">
			<ee:message>
			</ee:message>
					<ee:variables>
						<ee:set-variable variableName="fullPayload"><![CDATA[%dw 2.0
output application/xml skipNullOn="everywhere"
---
payload]]></ee:set-variable>
				<ee:set-variable variableName="countFullPayload" ><![CDATA[%dw 2.0
output application/java
---
sizeOf (payload.FRPPData filterObject ($ != null))]]></ee:set-variable>
					</ee:variables>
		</ee:transform>
		<flow-ref doc:name="authorizeToDelete" doc:id="f1ade88a-e33f-49a3-949f-b8a86ebcd1ae" name="authorizeToDelete" />
		<flow-ref doc:name="Validate XML" doc:id="b573a6e1-da1f-4caa-b850-1bac103dcc17" name="schemaValidationFlow" />
		<choice doc:name="Choice-Check Validations" doc:id="0aa56440-c527-46cb-bddc-9f9413cce3e7" >
			<when expression='#[vars.validXML != "true"]'>
				<logger level="INFO" doc:name="XML Validation Failed" doc:id="352435e0-9e18-4041-88b1-4a8f4a77c18f" message="File ID: #[vars.file.Id], File Name: #[vars.fileName] --&gt; ERROR: XML Schema Validation Failed." />
				<set-variable value="false" doc:name="Set final Status Flag" doc:id="5f4e87e0-70f9-4ef3-b94b-90ca021a772f" variableName="setFinalStatus" />
				<set-variable value="${InvalidXMLTemplateName}" doc:name="set useTemplateName" doc:id="9b10b087-ad3b-4c4b-adc2-19ba5055dab2" variableName="useTemplateName" />
				<flow-ref doc:name="userEmailNotificationFlow" doc:id="3d3fed08-8922-48f1-8e46-0c8fd22f79ba" name="userEmailNotificationFlow" />
			</when>
			<when expression="#['${current.fiscalYear}'  != vars.fullPayload.FRPPData.@FY]">
				<logger level="INFO" doc:name="FY Invalid" doc:id="d9865dea-2293-40b5-9d98-c9b006e70287" message="File ID: #[vars.file.Id], File Name: #[vars.fileName] --&gt; ERROR: Fiscal Year Invalid." />
				<set-variable value="false" doc:name="Set final Status Flag" doc:id="6568056e-06cf-4894-84be-b6ce9eb41332" variableName="setFinalStatus" />
				<set-variable value="${InvalidXMLFYTemplateName}" doc:name="set useTemplateName" doc:id="43cab46f-1204-4a64-a3bc-e79d157f70dd" variableName="useTemplateName" />
				<flow-ref doc:name="userEmailNotificationFlow" doc:id="259b6f1b-2343-4a8d-9443-8b9ab8c21112" name="userEmailNotificationFlow" />
			</when>
			<when expression='#[vars.file.AGENCY_CODE__c  != vars.fullPayload.FRPPData.@AGENCYCODE]'>
				<logger level="INFO" doc:name="AgencyCode Invalid" doc:id="d0417fbb-fe35-4392-b736-dc6375e76b0a" message="File ID: #[vars.file.Id], File Name: #[vars.fileName] --&gt; ERROR: Agency Code Invalid." />
				<set-variable value="false" doc:name="Set final Status Flag" doc:id="6749056d-1129-4ec7-bf18-dd97467188ba" variableName="setFinalStatus" />
				<set-variable value="${InvalidXMLAgencyTemplateName}" doc:name="set useTemplateName" doc:id="a0f9443f-0806-45ea-bb74-19dff413bcb3" variableName="useTemplateName" />
				<flow-ref doc:name="userEmailNotificationFlow" doc:id="57150247-365d-4509-a68b-8c406166993e" name="userEmailNotificationFlow" />
			</when>
			<when expression='#[(vars.fullPayload.FRPPData.@ACTION != "DELETE") and (vars.fullPayload.FRPPData.@ACTION !=  "ADD") and  (vars.fullPayload.FRPPData.@ACTION !=  "MODIFY")]' doc:id="73b36d9b-aa22-4652-8529-41f20b2e49d9">
				<logger level="INFO" doc:name="Action Invalid" doc:id="24d1e0ae-46a0-4bc8-8042-b6069648ceba" message="File ID: #[vars.file.Id], File Name: #[vars.fileName] --&gt; ERROR: Action Invalid." />
				<set-variable value="false" doc:name="Set final Status Flag" doc:id="0ed9b023-d051-4972-a066-1bcd52ec2686" variableName="setFinalStatus" />
				<set-variable value="${InvalidXMLActionTemplateName}" doc:name="set useTemplateName" doc:id="545964f0-cc68-4b98-a176-c1ea59d73d50" variableName="useTemplateName" />
				<flow-ref doc:name="userEmailNotificationFlow" doc:id="d136e007-0238-453a-97b2-3382aee894c1" name="userEmailNotificationFlow" />
			</when>
			<when expression="#[(vars.&quot;authorizedToDelete?&quot; == 'false')]" doc:id="29d53132-760d-4366-89fa-037811b77e25">
				<logger level="INFO" doc:name="No Access To Delete" doc:id="2fa37b2c-27be-4e25-9fe9-c24062f4a29f" message="File ID: #[vars.file.Id], File Name: #[vars.fileName] --&gt; ERROR: No Access to Delete." />
				<set-variable value="none" doc:name="Set final Status Flag" doc:id="d6e7531f-36f1-4fe6-a015-d47ef4cf4a8e" variableName="setFinalStatus" />
				
				<ee:transform doc:name="setFinalStatus" doc:id="a09da345-2d84-4e26-9c5b-216c7c81ee17">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="updateStatusReq"><![CDATA[%dw 2.0
output application/json
---
[{
	Id: vars.file.Id,
	Status__c: p('status6'),  //status6=No Access To Delete
	CI_STATUS__c : p('CI.status6') // CI.status6=No Access To Delete
}
]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
				<flow-ref doc:name="SetFileStatus" doc:id="9871f27b-914e-49d6-b4f6-cd16bdcb68df" name="SetStatuses" />
				
			</when>
			<otherwise >
				<remove-variable doc:name="Remove Variable validXML" doc:id="7dfda688-9f59-43d4-b133-f5d582204ddc" variableName="validXML" />
				<remove-variable doc:name="Remove Variable  fullPayload" doc:id="323b1291-ef20-4b89-83b7-4d67b757003d" variableName="fullPayload" />
				<logger level="INFO" doc:name="Valid XML" doc:id="755abe84-c631-4e72-ab33-f506ef109469" message="File ID: #[vars.file.Id], File Name: #[vars.fileName] --&gt; 2.VALID XML Payload." />
				<ee:transform doc:name="Set CIStatus to STARTED" doc:id="4350bc10-23a8-4bf0-8fc0-06b32a87844c">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="updateStatusReq"><![CDATA[%dw 2.0
output application/json
---
[{
	Id: vars.file.Id,
	CI_STATUS__c : p('CI.status1'), //STARTED
	Number_of_assets_in_file__c: vars.countFullPayload
}
]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
				<flow-ref doc:name="SetFileStatus" doc:id="43d0997f-270e-482d-89b3-ef59c0af7176" name="SetStatuses" />
				<logger level="INFO" doc:name="MuleX" doc:id="0efe2573-c37e-41e2-93de-ef53cb62c7ab" message="MuleX: FrppFileSplitter1: Split 3 Payload Start."/>
				<ee:transform doc:name="split Payloads (3)" doc:id="71fcf68b-0104-4048-bf0e-a52e0a59c5d0">
			<ee:message>
			</ee:message>
			<ee:variables>
						<ee:set-variable variableName="buildingPayload"><![CDATA[%dw 2.0
output application/xml skipNullOn="everywhere", inlineCloseOn="empty"
---
{
	FRPPData @(AGENCYCODE: payload.FRPPData.@AGENCYCODE , ACTION: payload.FRPPData.@ACTION , FY: payload.FRPPData.@FY):{
		Type35Building: payload.FRPPData.*Type35Building filter ($ != null)
	}
}]]></ee:set-variable>
								<ee:set-variable variableName="landPayload"><![CDATA[%dw 2.0
output application/xml skipNullOn="everywhere", inlineCloseOn="empty"
---
{
	FRPPData @(AGENCYCODE: payload.FRPPData.@AGENCYCODE , ACTION: payload.FRPPData.@ACTION , FY: payload.FRPPData.@FY):{
		Type20Land: payload.FRPPData.*Type20Land filter ($ != null)
	}
}]]></ee:set-variable>
								<ee:set-variable variableName="structurePayload"><![CDATA[%dw 2.0
output application/xml skipNullOn="everywhere", inlineCloseOn="empty"
---
{
	FRPPData @(AGENCYCODE: payload.FRPPData.@AGENCYCODE , ACTION: payload.FRPPData.@ACTION , FY: payload.FRPPData.@FY):{
		Type40Structure:  payload.FRPPData.*Type40Structure filter ($ != null)
	} 
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
				<logger level="INFO" doc:name="MuleX" doc:id="d4eb1881-9aed-4ec6-b148-9b92bbc9c43f" message="MuleX: FrppFileSplitter1: Split 3 Payload End."/>
				<set-payload value="#[null]" doc:name="remove Payload" doc:id="b3d558b3-9145-433c-b2fb-d13f5ab4855b" />
				<flow-ref doc:name="processAllBatches" doc:id="d3bc4579-cab3-4412-83ad-c146cec1a457" name="processAllBatches" />
			</otherwise>
		</choice>
		<choice doc:name="Choice - Final Status" doc:id="f0c1ee0d-1a8f-4de5-a988-22e644da1188">
					<when expression='#[vars.setFinalStatus != "false" and vars.setFinalStatus != "none"]'>
						<ee:transform doc:name="setFinalStatus" doc:id="c684e5d0-16ca-4440-a746-056e920f540c">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="updateStatusReq"><![CDATA[%dw 2.0
output application/json
---
[{
	Id: vars.file.Id,
	Status__c: p('status2'),  //Validation in Progress
	CI_STATUS__c : p('CI.status2'), // COMPLETED
	CI_FILE_STATUS__c: p('file.status1') //COMPLETED
}
]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
				<flow-ref doc:name="SetFileStatus" doc:id="cb8c1ed4-1651-434c-b203-1895ee6efef2" name="SetStatuses" />
				<salesforce:query doc:name="Query - SF Counts" doc:id="5938474a-b085-4595-8f15-b94755b8cf5c" config-ref="SalesforceGeoFL3_Global" target="countSFAssets">
				<salesforce:salesforce-query>Select ID, Number_of_assets_in_file__c, Number_of_processed_assets__c from FRPP_FILE__c where ID = ':fileId'</salesforce:salesforce-query>
				<salesforce:parameters><![CDATA[#[output application/java
---
{
	"fileId" : vars.file.Id
}]]]></salesforce:parameters>
			</salesforce:query>
				<choice doc:name="Choice - SF Count Check" doc:id="438d1d6e-5368-4be7-83ef-857f20704d59">
			<when expression="#[vars.countSFAssets[0].Number_of_assets_in_file__c == vars.countSFAssets[0].Number_of_processed_assets__c]">
						<logger level="INFO" doc:name="Success Logger" doc:id="2e5ab545-010a-4125-99cc-41d06b50a43b" message="File ID: #[vars.file.Id], File Name: #[vars.fileName] --&gt; 4a. fileSplitter completed processing successfully." />
			</when>
			<otherwise>
				<set-variable value="${InvalidFileDroppedRecordsUserEmail}" doc:name="set useTemplateName" doc:id="87ae866f-0811-410e-8fb8-a59208cdd44e" variableName="useTemplateName" />
				<flow-ref doc:name="userEmailNotificationFlow" doc:id="cc46052e-ca88-47e4-bb3d-65aa3faa32a0" name="userEmailNotificationFlow" />
						<logger level="INFO" doc:name="Error Logger" doc:id="1b3d457e-461e-441a-89cc-4251d54f8a1d" message="File ID: #[vars.file.Id], File Name: #[vars.fileName] --&gt; 4b. fileSplitter completed processing with Error: Count Mismatch." />
			</otherwise>
		</choice>
					</when>
					<when expression='#[vars.setFinalStatus == "false"]'>
				<ee:transform doc:name="setFinalStatus" doc:id="c60c33c3-9d3a-402a-906d-5d56de0a24da">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="updateStatusReq"><![CDATA[%dw 2.0
output application/json
---
[{
	Id: vars.file.Id,
	Status__c: p('status4'),  //status4=Invalid Xml File
	CI_STATUS__c : p('CI.status3') // CI.status3=Invalid Xml File
}
]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
				<flow-ref doc:name="SetFileStatus" doc:id="2511ee45-cd6c-4aea-b7b1-d3841f69b5d4" name="SetStatuses" />
				<logger level="INFO" doc:name="Error Logger" doc:id="1465b5e9-52e3-49b7-9682-328b8df49177" message="File ID: #[vars.file.Id], File Name: #[vars.fileName] --&gt; 4c. fileSplitter completed processing with ERRORS." />
					</when>
			<otherwise>
				<remove-variable doc:name="Remove Variable" doc:id="e7978d6f-5caf-4438-af87-051b1b869fee" variableName="setFinalStatus" />
					</otherwise>
				</choice>
		<flow-ref doc:name="releaseQueue" doc:id="5f269d2d-2fa5-4bc0-84b6-a3685f08966b" name="releaseQueue"/>
		<logger level="INFO" doc:name="MuleX" doc:id="bb99d005-1fe0-451b-8094-12c9901574b9" message="MuleX: FrppFileSplitter Service Completed."/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="06c4e4c5-29dc-4094-a4dc-bd570c6a4b03" >
				<flow-ref doc:name="releaseQueue" doc:id="925655cf-c8e8-49ce-9a40-5f99ef3531c9" name="releaseQueue" />
				<logger level="INFO" doc:name="Error Log" doc:id="fa55e45c-bf0c-4b13-af7d-d44b0a0f7f8d" message="ERROR:  Error Type: #[error.errorType],  ErrorDescription: #[error.detailedDescription], ErrorCause: #[error.exception.cause]  for FileName:  #[vars.fileName]" />
				<ee:transform doc:name="setFinalStatus" doc:id="e9216a8d-ae58-4038-8490-9d3c08ca45dc">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="updateStatusReq"><![CDATA[%dw 2.0
output application/json
---
[{
	Id: vars.file.Id,
	Status__c: p('status5'),  //status5=Error during processing
	CI_STATUS__c : p('CI.status4') //CI.status4=ERRORED
}
]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
				<flow-ref doc:name="SetFileStatus" doc:id="bd934210-9e9e-46a5-8fd9-71a537e380c6" name="SetStatuses" />
				<ee:transform doc:name="set error Msg" doc:id="aaba2eb2-6f50-4961-94b1-f7619995b352">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="errorMsg"><![CDATA[%dw 2.0
output application/java
---
[
  ("ErrorType:   " ++ error.errorType.namespace ++ ":" ++ error.errorType.identifier), 	
  ("Description: " ++ error.detailedDescription),
  ("ErrorCause: "  ++ error.exception.cause.exceptionCode ++ " - " ++ error.exception.cause.exceptionMessage) if (error.exception.cause.exceptionCode != null and error.exception.cause.exceptionMessage != null )
  
]
]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<set-variable value='#["Error occured during processing the File:  " ++ vars.fileName ++". \n\nPlease find attached error details."]' doc:name="email Body" doc:id="98574d5c-abe2-44f7-80dc-6d7afaaf5dda" variableName="emailBody"/>
				<flow-ref doc:name="supportEmailNotificationFlow" doc:id="cc32adcc-9807-4a2c-91c3-8209ca75440b" name="supportEmailNotificationFlow" />
				
			</on-error-continue>
		</error-handler>
	</flow>
	<sub-flow name="processAllBatches" doc:id="da3ab448-2602-487c-9d11-112e15da91ed" >
		<ee:transform doc:name="Initialize Thread Variables" doc:id="e5b49fae-7fdb-4981-9941-b70abed6057d" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="threadPoolSize" ><![CDATA[%dw 2.0
output application/java
---
p('thread.maxThreads')]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="BUILDING" doc:id="760f4018-2676-489f-a4b6-32b9438a208f" >
			<when expression='#[vars.buildingPayload.FRPPData.Type35Building.RealPropertyType != null and vars.buildingPayload.FRPPData.Type35Building.RealPropertyType != ""]'>
				<foreach doc:name="For Each - Building Batch Processing" doc:id="2a151ebe-efb0-439f-a5e1-c112e1090022" collection="#[vars.buildingPayload.FRPPData]" batchSize="${batch.size}">
			<ee:transform doc:name="Initialize BUILDING Batch Processing (3)" doc:id="1f2eda7c-5a58-4339-a69d-a95067fc60db">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="countSuccessASTAdded"><![CDATA[%dw 2.0
output application/java
---
0]]></ee:set-variable>
				<ee:set-variable variableName="countErrorASTAdded"><![CDATA[%dw 2.0
output application/java
---
0]]></ee:set-variable>
				<ee:set-variable variableName="assetType"><![CDATA[%dw 2.0
output application/java
---
"Building"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
					<async doc:name="Async" doc:id="87d419de-30a0-49c1-8b0b-78dccacd88e1" >
						<flow-ref doc:name="Process SingleBatch" doc:id="e641e647-756e-4906-b5e3-62405fbba125" name="processSingleBatch" />
					</async>
					<set-variable value="#[vars.threadPoolSize -1]" doc:name="Reduce Thread pool" doc:id="663675e1-67a7-4dbd-96ea-f08a8622289f" variableName="threadPoolSize" />
					<choice doc:name="Time to Process Responses?" doc:id="d78faa2e-fe7d-4251-aed6-26fa5f645a12">
						<when expression="#[(vars.threadPoolSize == 0) or ((vars.counter * p('batch.size')) &gt;= sizeOf(vars.buildingPayload.FRPPData) )]">
							<flow-ref doc:name="Process Responses" doc:id="80eec20b-e352-4177-bf0c-125fa7686b00" name="ProcessAllBatchReponses" />
						</when>
					</choice>
			
		</foreach>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="No Buildings" doc:id="3fc7c4d3-86e7-42fe-806f-d4e279009459" message="File ID: #[vars.file.Id], File Name: #[vars.fileName] --&gt; No Building on the File."/>
			</otherwise>
		</choice>
		
		<remove-variable doc:name="Remove buildingPayload" doc:id="98fb46da-b5f1-4073-8164-ab79d4312e9f" variableName="buildingPayload"/>
		<ee:transform doc:name="Initialize Thread Variables" doc:id="dc2ce2a7-6a83-4214-9715-bcd3dba511f8" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="threadPoolSize" ><![CDATA[%dw 2.0
output application/java
---
p('thread.maxThreads')]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="LAND" doc:id="42b2aadf-641c-49f1-aa93-2ba977b56aad" >
			<when expression='#[vars.landPayload.FRPPData.Type20Land.RealPropertyType != null and vars.landPayload.FRPPData.Type20Land.RealPropertyType != ""]'>
				<foreach doc:name="For Each - Land Batch Processing" doc:id="eddceab0-a9cd-4a76-b1fc-2cdf9634ee5a" collection="#[vars.landPayload.FRPPData]" batchSize="${batch.size}">
					<ee:transform doc:name="Initialize LAND Batch Processing (3)" doc:id="719c8cb8-1d4a-4182-bf05-10fb20c30dc0">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="countSuccessASTAdded"><![CDATA[%dw 2.0
output application/java
---
0]]></ee:set-variable>
				<ee:set-variable variableName="countErrorASTAdded"><![CDATA[%dw 2.0
output application/java
---
0]]></ee:set-variable>
				<ee:set-variable variableName="assetType"><![CDATA[%dw 2.0
output application/java
---
"Land"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
					<async doc:name="Async" doc:id="7324e6fa-5ea0-49b7-b50e-1970d45a0b2e">
						<flow-ref doc:name="Process SingleBatch" doc:id="1f49bf28-1236-45d5-966f-95300ede5e2a" name="processSingleBatch" />
					</async>
					<set-variable value="#[vars.threadPoolSize -1]" doc:name="Reduce Thread pool" doc:id="65eb1a21-61a5-4ba7-879d-cec4d8079551" variableName="threadPoolSize" />
					<choice doc:name="Time to Process Responses?" doc:id="58469979-3154-43c4-aca4-5d3cf3d342bf">
						<when expression="#[(vars.threadPoolSize == 0) or ((vars.counter * p('batch.size')) &gt;= sizeOf(vars.landPayload.FRPPData) )]">
							<flow-ref doc:name="Process Responses" doc:id="413e7789-1cb2-4d8d-a5db-b3011b412779" name="ProcessAllBatchReponses" />
						</when>
					</choice>
			
		</foreach>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="No Lands" doc:id="6daf3390-8b8f-4743-a24b-6ac44b5ffd29" message="File ID: #[vars.file.Id], File Name: #[vars.fileName] --&gt; No Land on the File." />
			</otherwise>
		</choice>
		
		<remove-variable doc:name="Remove landPayload" doc:id="8d6078a1-eee7-4fdb-9d8c-b6de578b8a70" variableName="landPayload"/>
		<ee:transform doc:name="Initialize Thread Variables" doc:id="1ec6495c-dae8-4f82-963d-3d16c762efb0" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="threadPoolSize" ><![CDATA[%dw 2.0
output application/java
---
p('thread.maxThreads')]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="STRUCTURE" doc:id="71f93a8e-ab12-4aef-877e-14a9e1326ff5" >
			<when expression='#[vars.structurePayload.FRPPData.Type40Structure.RealPropertyType != null and vars.structurePayload.FRPPData.Type40Structure.RealPropertyType != ""]'>
				<foreach doc:name="For Each - Structure Batch Processing" doc:id="2e055ca7-98af-4769-b347-18902c535f1c" collection="#[vars.structurePayload.FRPPData]" batchSize="${batch.size}">
			<ee:transform doc:name="Initialize STRUCTURE   Batch Processing (3)" doc:id="435330c9-6d5e-46d5-ba3c-3217be8f259c">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="countSuccessASTAdded"><![CDATA[%dw 2.0
output application/java
---
0]]></ee:set-variable>
				<ee:set-variable variableName="countErrorASTAdded"><![CDATA[%dw 2.0
output application/java
---
0]]></ee:set-variable>
				<ee:set-variable variableName="assetType"><![CDATA[%dw 2.0
output application/java
---
"Structure"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
					<async doc:name="Async" doc:id="ac979f3a-cc68-4f1f-b865-92495347331d" >
						<flow-ref doc:name="Process SingleBatch" doc:id="272e13d4-d286-43ea-a402-b4e49e376ff4" name="processSingleBatch" />
					</async>
					<set-variable value="#[vars.threadPoolSize -1]" doc:name="Reduce Thread pool" doc:id="9a8275c4-84af-4c42-b911-25890c812ffc" variableName="threadPoolSize" />
					<choice doc:name="Time to Process Responses?" doc:id="bfa42de9-cd4c-4c76-b7a0-c3e2eb7b270c">
						<when expression="#[(vars.threadPoolSize == 0) or ((vars.counter * p('batch.size')) &gt;= sizeOf(vars.structurePayload.FRPPData) )]">
							<flow-ref doc:name="Process Responses" doc:id="b6b2559f-20ba-42ec-a6bf-5a123203817f" name="ProcessAllBatchReponses" />
						</when>
					</choice>
			
		</foreach>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="No Structure" doc:id="4c1cc45c-a674-4380-a54f-c18ca520291d" message="File ID: #[vars.file.Id], File Name: #[vars.fileName] --&gt; No Structure on the File." />
			</otherwise>
		</choice>
		<remove-variable doc:name="Remove structurePayload" doc:id="9fc906d3-0158-4af9-bb84-b9dd86085b5c" variableName="structurePayload"/>

	</sub-flow>
	
	<sub-flow name="processSingleBatch" doc:id="7d018f8c-a6a6-4889-a008-43f14fb49339">
		<logger level="INFO" doc:name="Thread Started" doc:id="fe954dd6-c319-4fef-aede-778f8e89317f" message="Thread:  #[p('thread.maxThreads') - vars.threadPoolSize + 1]  Started" />
		<flow-ref doc:name="buildSFPayloads" doc:id="914d7dd1-c834-45e3-be2b-576005a24ff2" name="buildSFPayloads" />
		<ee:transform doc:name="Transform Message" doc:id="2013d1a5-5831-463f-9974-6644de3c3653">
					<ee:message>
					</ee:message>
					<ee:variables>
				<ee:set-variable variableName="vmResponse"><![CDATA[%dw 2.0
output application/java
---
{
	"threadId" : p('thread.maxThreads') - vars.threadPoolSize + 1,
	"status": "success",
	 "countRecordSuccessAdded" : vars.countSuccessASTAdded,
	 "countRecordErrorAdded" : vars.countErrorASTAdded
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
		<logger level="INFO" doc:name="Thread publishes" doc:id="2b20bf16-f631-4fc3-87c0-56371a3cc7ae" message="Thread: #[p('thread.maxThreads') - vars.threadPoolSize + 1]  Publishes: #[vars.vmResponse]" />
		<vm:publish doc:name="Publish Thread Response" doc:id="e5445a30-b8c2-4ad4-96d2-f96e602ddb4d" config-ref="VM_Batch_Config" sendCorrelationId="AUTO" queueName="#[vars.queueName]">
			<vm:content><![CDATA[#[vars.vmResponse]]]></vm:content>
				</vm:publish>
	</sub-flow>
		
	<sub-flow name="buildSFPayloads" doc:id="6529e46c-93a4-4656-aa91-524086cefc68" >
		<choice doc:name="Buildings" doc:id="4bbe6e91-7832-497f-90da-c4878d935612">
			<when expression="#[vars.'proceed?' == null]">
				<ee:transform doc:name="Set CIStatus to STARTED" doc:id="23979e00-37e9-4d2e-9eae-b3000adbbd85">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="updateStatusReq"><![CDATA[%dw 2.0
output application/json
---
[{
	Id: vars.file.Id,
	CI_STATUS__c : p('CI.status1') //STARTED
}
]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
				<flow-ref doc:name="SetFileStatus" doc:id="5d960ad8-42f6-4978-8b1b-cec9ded2ab30" name="SetStatuses" />
				<choice doc:name="assetType" doc:id="21fa30c7-baec-4193-9643-e21951970703">
					<when expression='#[vars.assetType == "Building"]'>
						<logger level="INFO" doc:name="MuleX" doc:id="61c72ba0-29b0-4964-9087-d79cfdf53394" message="MuleX: FrppFileSplitter2: BuildingTransfromToSF Start."/>
						<ee:transform doc:name="BuildingSFPayload" doc:id="5f4b1249-8832-402f-af56-8672737b40db">
				<ee:message>
				</ee:message>
				<ee:variables>
				<ee:set-variable variableName="sfAssetsPayload"><![CDATA[%dw 2.0
output application/java
type sfDate = Date {format: "M/d/yyyy"}
---
payload.*Type35Building filter ($ != null) map {
	Asset_Type_Code__c : $.RealPropertyType,
	RealPropertyUseCode__c : $.RealPropertyUse,
	Field_Office_Code__c : $.FieldOffice,
	Field_Office_Collocation_Code__c : $.FieldOfficeCollocation,
	LegalInterestCode__c : $.LegalInterest.LegalInterestIndicator,
	LeaseAuthorityCode__c : $.LegalInterest.LeaseAuthorityIndicator,
	AssetStatusCode__c : $.Status.StatusIndicator,
	SurplusDeclarationDate__c : if ($.Status.SurplusDeclarationDate != null) ($.Status.SurplusDeclarationDate as sfDate) else null,
	ReportofExcessSubmittedDate__c : if ($.Status.ReportOfExcessSubmittedDate != null) ($.Status.ReportOfExcessSubmittedDate as sfDate) else null,
	ReportofExcessAcceptedDate__c : if ($.Status.ReportOfExcessAcceptedDate != null) ($.Status.ReportOfExcessAcceptedDate as sfDate) else null,
	DeterminationtoDisposeDate__c : if ($.Status.DeterminationToDisposeDate != null) ($.Status.DeterminationToDisposeDate as sfDate) else null,
	Cannot_Currently_Be_Disposed_of_Date__c : if ($.Status.CannotCurrentlyBeDisposedDate != null) ($.Status.CannotCurrentlyBeDisposedDate as sfDate) else null,
	OutGrantIndicator__c : $.Status.OutgrantIndicator,
	CannotCurrentlyBeDisposed_Code__c : $.Status.CannotCurrentlyBeDisposed,
	HistoricalStatusCode__c : $.HistoricalStatus,
	ReportingAgencyCode__c : if ($.ReportingAgency != null) ($.ReportingAgency) [0 to 1] else null,
	ReportingBureauCode__c : if ($.ReportingAgency != null) ($.ReportingAgency) [2 to 3] else null,
	UsingAgencyCode__c : if ($.UsingOrganization != null) ($.UsingOrganization) [0 to 1] else null,
	UsingBureauCode__c : if ($.UsingOrganization != null) ($.UsingOrganization) [2 to 3] else null,
	LeaseExpirationDate__c : if ($.LeaseExpirationDate != null) ($.LeaseExpirationDate as sfDate) else null,
	Lease_Start_Date__c : if ($.LeaseStartDate != null) ($.LeaseStartDate as sfDate) else null,
	Lease_Occupancy_Date__c : if ($.LeaseOccupancyDate != null) $.LeaseOccupancyDate as sfDate else null,
	SquareFeet__c :  $.Size.SquareFeet,
	SquareFeetUnitOfMeasure_Code__c : $.Size.SquareFeetUnitOfMeasure,
	Year_Asset_Reported_Underutilized__c : $.YearAssetReportedUnderutilized,
	ReplacementValue__c : $.ReplacementValue,
	RepairNeeds__c : $.RepairNeeds,
	Historical_Capital_Expenditures__c : $.HistoricalCapitalExpenditures,
	Estimated_Future_Capital_Expenditures__c : $.EstimatedFutureCapitalExpenditures,
	Owned_and_Managed_Annual_Operations_Cost__c : $.AnnualOperatingCosts.OwnedandOtherwiseManagedAnnualOperatingCosts,
	Owned_and_Managed_Maintenance_Cost__c : $.AnnualOperatingCosts.OwnedandOtherwiseManagedAnnualMaintenanceCosts,
	Leased_Annual_Operations_Costs__c : $.AnnualOperatingCosts.LeasedAnnualOperatingCosts,
	Leased_Annual_Maintenance_Costs__c : $.AnnualOperatingCosts.LeasedAnnualMaintenanceCosts,
	AnnualRent__c : $.AnnualOperatingCosts.LeaseAnnualRent,
	StreetAddress__c : $.MainLocation.StreetAddress,
	Latitude__c : $.MainLocation.Latitude,
	Longitude__c : $.MainLocation.Longitude,
	RealPropertyUniqueId__c : $.RealPropertyUniqueIdentifier,
	CityCode__c : $.City,
	StateCode__c : $.State,
	CountryCode__c : $.Country,
	CountyCode__c : $.County,
	CongressionalDistrict__c : $.CongressionalDistricts,
	ZipCode__c : $.Zipcode,
	InstallationName__c : $.InstallationAndSubInstallationIdentifier.InstallationName,
	InstallationId__c : $.InstallationAndSubInstallationIdentifier.InstallationIdentifier,
	SubInstallationId__c : $.InstallationAndSubInstallationIdentifier.SubInstallationIdentifier,
	Asset_Height__c : $.AssetHeight,
	Asset_Height_Range_Code__c : $.AssetHeightRange,
	UtilizationCode__c : $.Utilization,
	FederalEmployees__c : $.Personnel.FederalEmployees,
	FederalContractors__c : $.Personnel.FederalContractors,
	IsAsset_Excluded_Code__c : $.IsAssetExcluded,
	Exclusion_Reason_Code__c : $.ReasonForExclusion,
	Year_of_Construction__c : $.YearOfAssetConstruction,
	Determine_Number_of_Fed_Employees_Code__c : $.CanNumberOfFederalEmployeesBeDetermined,
	Determine_Number_of_Fed_Contractors_Code__c : $.CanNumberOfFederalContractorsBeDetermined,
	SustainabilityCode__c : $.IsSustainable,
	DispositionMethodCode__c : $.DispositionData.DispositionMethod,
	DispositionDate__c : if ($.DispositionData.DispositionDate != null) $.DispositionData.DispositionDate as sfDate else null,
	DispositionValue__c : $.DispositionData.DispositionValue,
	NetProceeds__c : $.DispositionData.NetProceeds,
	Real_Property_Code__c : $.RealProperty,
	FOIA_Exemption_Code__c : $.FOIAExemption,
	Statutory_Citation__c : $.StatutoryCitation,
	ActionType__c: vars.buildingPayload.FRPPData.@ACTION,
	FILE_ID__c: vars.file.Id,
	FiscalYear__c: '${current.fiscalYear}'
}
]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
					<logger level="INFO" doc:name="MuleX" doc:id="a3d2b971-90c1-4fee-ab6b-b687fcec8939" message="MuleX: FrppFileSplitter2: BuildingTransfromToSF End."/>
					</when>
					<when expression='#[vars.assetType == "Land"]'>
						<logger level="INFO" doc:name="MuleX" doc:id="954e3129-99fc-4b5a-bc3d-cb585d4b0266" message="MuleX: FrppFileSplitter2: LandTransfromToSF Start."/>
						<ee:transform doc:name="LandSFPayload" doc:id="bd549c1a-f177-47d2-aba8-de4334dded9f">
				<ee:message>
				</ee:message>
				<ee:variables>
				<ee:set-variable variableName="sfAssetsPayload"><![CDATA[%dw 2.0
output application/java
type sfDate = Date {format: "M/d/yyyy"}
---
payload.*Type20Land filter ($ != null) map {
	Asset_Type_Code__c : $.RealPropertyType,
	RealPropertyUseCode__c : $.RealPropertyUse,
	LegalInterestCode__c : $.LegalInterest.LegalInterestIndicator,
	LeaseAuthorityCode__c : $.LegalInterest.LeaseAuthorityIndicator,
	AssetStatusCode__c : $.Status.StatusIndicator,
	SurplusDeclarationDate__c : if ($.Status.SurplusDeclarationDate != null) ($.Status.SurplusDeclarationDate as sfDate) else null,
	ReportofExcessSubmittedDate__c : if ($.Status.ReportOfExcessSubmittedDate != null) ($.Status.ReportOfExcessSubmittedDate as sfDate) else null,
	ReportofExcessAcceptedDate__c : if ($.Status.ReportOfExcessAcceptedDate != null) ($.Status.ReportOfExcessAcceptedDate as sfDate) else null,
	DeterminationtoDisposeDate__c : if ($.Status.DeterminationToDisposeDate != null) ($.Status.DeterminationToDisposeDate as sfDate) else null,
	Cannot_Currently_Be_Disposed_of_Date__c : if ($.Status.CannotCurrentlyBeDisposedDate != null) ($.Status.CannotCurrentlyBeDisposedDate as sfDate) else null,
	OutGrantIndicator__c : $.Status.OutgrantIndicator,
	CannotCurrentlyBeDisposed_Code__c : $.Status.CannotCurrentlyBeDisposed,
	HistoricalStatusCode__c : $.HistoricalStatus,
	ReportingAgencyCode__c : if ($.ReportingAgency != null) ($.ReportingAgency) [0 to 1] else null,
	ReportingBureauCode__c : if ($.ReportingAgency != null) ($.ReportingAgency) [2 to 3] else null,
	UsingAgencyCode__c : if ($.UsingOrganization != null) ($.UsingOrganization) [0 to 1] else null,
	UsingBureauCode__c : if ($.UsingOrganization != null) ($.UsingOrganization) [2 to 3] else null,
	LeaseExpirationDate__c : if ($.LeaseExpirationDate != null) ($.LeaseExpirationDate as sfDate) else null,
	Lease_Start_Date__c : if ($.LeaseStartDate != null) ($.LeaseStartDate as sfDate) else null,
	Lease_Occupancy_Date__c : if ($.LeaseOccupancyDate != null) $.LeaseOccupancyDate as sfDate else null,
	IsAsset_Excluded_Code__c : $.IsAssetExcluded,
	Exclusion_Reason_Code__c : $.ReasonForExclusion,
	Acres__c : $.Size.Acres as Number,
	Owned_and_Managed_Annual_Operations_Cost__c : $.AnnualOperatingCosts.OwnedandOtherwiseManagedAnnualOperatingCosts,
	Owned_and_Managed_Maintenance_Cost__c : $.AnnualOperatingCosts.OwnedandOtherwiseManagedAnnualMaintenanceCosts,
	Leased_Annual_Operations_Costs__c : $.AnnualOperatingCosts.LeasedAnnualOperatingCosts,
	Leased_Annual_Maintenance_Costs__c : $.AnnualOperatingCosts.LeasedAnnualMaintenanceCosts,
	AnnualRent__c : $.AnnualOperatingCosts.LeaseAnnualRent,
	StreetAddress__c : $.MainLocation.StreetAddress,
	Latitude__c : $.MainLocation.Latitude,
	Longitude__c : $.MainLocation.Longitude,
	RealPropertyUniqueId__c : $.RealPropertyUniqueIdentifier,
	CityCode__c : $.City,
	StateCode__c : $.State,
	CountryCode__c : $.Country,
	CountyCode__c : $.County,
	CongressionalDistrict__c : $.CongressionalDistricts,
	ZipCode__c : $.Zipcode,
	InstallationName__c : $.InstallationAndSubInstallationIdentifier.InstallationName,
	InstallationId__c : $.InstallationAndSubInstallationIdentifier.InstallationIdentifier,
	SubInstallationId__c : $.InstallationAndSubInstallationIdentifier.SubInstallationIdentifier,
	UtilizationCode__c : $.Utilization,
	DispositionMethodCode__c : $.DispositionData.DispositionMethod,
	DispositionDate__c : if ($.DispositionData.DispositionDate != null) $.DispositionData.DispositionDate as sfDate else null,
	DispositionValue__c : $.DispositionData.DispositionValue,
	NetProceeds__c : $.DispositionData.NetProceeds,
	Real_Property_Code__c : $.RealProperty,
	FOIA_Exemption_Code__c : $.FOIAExemption,
	Statutory_Citation__c : $.StatutoryCitation,
	ActionType__c: vars.landPayload.FRPPData.@ACTION,
	FILE_ID__c: vars.file.Id,
	FiscalYear__c: '${current.fiscalYear}'
}
]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
					<logger level="INFO" doc:name="MuleX" doc:id="9597f587-534f-485f-b569-b7f4412ef08f" message="MuleX: FrppFileSplitter2: LandTransfromToSF End."/>
					</when>
					<when expression='#[vars.assetType == "Structure"]'>
						<logger level="INFO" doc:name="MuleX" doc:id="88b68f16-d7cc-405b-acfd-d5aa74cbef4d" message="MuleX: FrppFileSplitter2: StructureTransfromToSF Start."/>
						<ee:transform doc:name="StructureSFPayload" doc:id="a3fd65a7-c1a3-436e-b81c-0ab2ab90e6ee">
				<ee:message>
				</ee:message>
				<ee:variables>
				<ee:set-variable variableName="sfAssetsPayload"><![CDATA[%dw 2.0
output application/java
type sfDate = Date {format: "M/d/yyyy"}
---
payload.*Type40Structure filter ($ != null) map {
	Asset_Type_Code__c : $.RealPropertyType,
	RealPropertyUseCode__c : $.RealPropertyUse,
	LegalInterestCode__c : $.LegalInterest.LegalInterestIndicator,
	LeaseAuthorityCode__c : $.LegalInterest.LeaseAuthorityIndicator,
	AssetStatusCode__c : $.Status.StatusIndicator,
	SurplusDeclarationDate__c : if ($.Status.SurplusDeclarationDate != null) ($.Status.SurplusDeclarationDate as sfDate) else null,
	ReportofExcessSubmittedDate__c : if ($.Status.ReportOfExcessSubmittedDate != null) ($.Status.ReportOfExcessSubmittedDate as sfDate) else null,
	ReportofExcessAcceptedDate__c : if ($.Status.ReportOfExcessAcceptedDate != null) ($.Status.ReportOfExcessAcceptedDate as sfDate) else null,
	DeterminationtoDisposeDate__c : if ($.Status.DeterminationToDisposeDate != null) ($.Status.DeterminationToDisposeDate as sfDate) else null,
	Cannot_Currently_Be_Disposed_of_Date__c : if ($.Status.CannotCurrentlyBeDisposedDate != null) ($.Status.CannotCurrentlyBeDisposedDate as sfDate) else null,
	OutGrantIndicator__c : $.Status.OutgrantIndicator,
	CannotCurrentlyBeDisposed_Code__c : $.Status.CannotCurrentlyBeDisposed,
	HistoricalStatusCode__c : $.HistoricalStatus,
	ReportingAgencyCode__c : if ($.ReportingAgency != null) ($.ReportingAgency) [0 to 1] else null,
	ReportingBureauCode__c : if ($.ReportingAgency != null) ($.ReportingAgency) [2 to 3] else null,
	UsingAgencyCode__c : if ($.UsingOrganization != null) ($.UsingOrganization) [0 to 1] else null,
	UsingBureauCode__c : if ($.UsingOrganization != null) ($.UsingOrganization) [2 to 3] else null,
	LeaseExpirationDate__c : if ($.LeaseExpirationDate != null) ($.LeaseExpirationDate as sfDate) else null,
	Lease_Start_Date__c : if ($.LeaseStartDate != null) ($.LeaseStartDate as sfDate) else null,
	Lease_Occupancy_Date__c : if ($.LeaseOccupancyDate != null) $.LeaseOccupancyDate as sfDate else null,
	IsAsset_Excluded_Code__c : $.IsAssetExcluded,
	Exclusion_Reason_Code__c : $.ReasonForExclusion,
	Year_of_Construction__c : $.YearOfAssetConstruction,
	StructuralUnits__c : $.Size.StructuralUnit,
	UnitOfMeasure__c : $.Size.UnitOfMeasure,
	Asset_Height__c : $.AssetHeight,
	Asset_Height_Range_Code__c : $.AssetHeightRange,
	ReplacementValue__c : $.ReplacementValue,
	RepairNeeds__c : $.RepairNeeds,
	Historical_Capital_Expenditures__c : $.HistoricalCapitalExpenditures,
	Estimated_Future_Capital_Expenditures__c : $.EstimatedFutureCapitalExpenditures,
	Owned_and_Managed_Annual_Operations_Cost__c : $.AnnualOperatingCosts.OwnedandOtherwiseManagedAnnualOperatingCosts,
	Owned_and_Managed_Maintenance_Cost__c : $.AnnualOperatingCosts.OwnedandOtherwiseManagedAnnualMaintenanceCosts,
	Leased_Annual_Operations_Costs__c : $.AnnualOperatingCosts.LeasedAnnualOperatingCosts,
	Leased_Annual_Maintenance_Costs__c : $.AnnualOperatingCosts.LeasedAnnualMaintenanceCosts,
	AnnualRent__c : $.AnnualOperatingCosts.LeaseAnnualRent,
	StreetAddress__c : $.MainLocation.StreetAddress,
	Latitude__c : $.MainLocation.Latitude,
	Longitude__c : $.MainLocation.Longitude,
	RealPropertyUniqueId__c : $.RealPropertyUniqueIdentifier,
	CityCode__c : $.City,
	StateCode__c : $.State,
	CountryCode__c : $.Country,
	CountyCode__c : $.County,
	CongressionalDistrict__c : $.CongressionalDistricts,
	ZipCode__c : $.Zipcode,
	InstallationName__c : $.InstallationAndSubInstallationIdentifier.InstallationName,
	InstallationId__c : $.InstallationAndSubInstallationIdentifier.InstallationIdentifier,
	SubInstallationId__c : $.InstallationAndSubInstallationIdentifier.SubInstallationIdentifier,
	DispositionMethodCode__c : $.DispositionData.DispositionMethod,
	DispositionDate__c : if ($.DispositionData.DispositionDate != null) $.DispositionData.DispositionDate as sfDate else null,
	DispositionValue__c : $.DispositionData.DispositionValue,
	NetProceeds__c : $.DispositionData.NetProceeds,
	Real_Property_Code__c : $.RealProperty,
	FOIA_Exemption_Code__c : $.FOIAExemption,
	Statutory_Citation__c : $.StatutoryCitation,
	ActionType__c: vars.structurePayload.FRPPData.@ACTION,
	FILE_ID__c: vars.file.Id,
	FiscalYear__c: '${current.fiscalYear}'
}
]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
						<logger level="INFO" doc:name="MuleX" doc:id="03c452e1-2308-4855-92b6-930d2e9cda3f" message="MuleX: FrppFileSplitter2: StructureTransfromToSF End."/>
					</when>
					<otherwise >
						<logger level="INFO" doc:name="Logger" doc:id="688e0359-8a33-4753-9be2-500c72a9de4a" message="No AssetType Set.  "/>
					</otherwise>
				</choice>
				<flow-ref doc:name="payload to SF" doc:id="c97e54c1-4d5e-4343-aaff-a526520fb0bc" name="sendSFPayload" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="45521674-a87e-48db-8e82-60186faa9099" message="File ID: #[vars.file.Id], File Name: #[vars.fileName] --&gt; ERROR: Had Errors other then Validation Errors. Exiting out." />
			</otherwise>
		</choice>
	</sub-flow>
	<sub-flow name="sendSFPayload" doc:id="4178e64f-e022-442e-9135-dc11334ba731" >
			<salesforce:create type="FRPP_ASSET__c" doc:name="Create Assets" doc:id="477a568e-9f3a-4ea8-a704-1a15d2c353f1" config-ref="SalesforceGeoFL3_Global" target="sfResponse">
				<salesforce:records ><![CDATA[#[vars.sfAssetsPayload]]]></salesforce:records>
			</salesforce:create>
		<choice doc:name="Choice" doc:id="ed509d1a-91b9-4a0d-ba17-6ee5a409d816" >
				<when expression='sizeOf (flatten(vars.sfResponse.errors) filter ($.statusCode != "FIELD_CUSTOM_VALIDATION_EXCEPTION" )) &lt; 1'>
				<logger level="INFO" doc:name="MuleX" doc:id="22e86331-d3c6-4657-9a98-b54b96885ee0" message="MuleX: FrppFileSplitter3: CreateErrorAsset Start."/>
				<ee:transform doc:name="ErrorAssets +ErrorCounts (2)" doc:id="38051338-5586-4f96-af46-ab0167acd8b8">
				<ee:message>
				</ee:message>
				<ee:variables>
						<ee:set-variable variableName="countSuccessASTAdded" ><![CDATA[%dw 2.0
output application/java
---
(vars.countSuccessASTAdded) + (sizeOf (vars.sfResponse.*id filter ($ != null)))]]></ee:set-variable>
						<ee:set-variable variableName="sfErrorAssestsPayload" ><![CDATA[%dw 2.0
output application/java
---
vars.sfAssetsPayload filter (vars.sfResponse.id[$$] == null) map (
	$ ++
	{
	  CI_FLAG__c: "Y"	
	})
]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
				<logger level="INFO" doc:name="MuleX" doc:id="213b2e4d-502d-4299-b384-60e258d6941a" message="MuleX: FrppFileSplitter3: CreateErrorAsset End."/>
				<remove-variable doc:name="Remove sfAssetsPayload" doc:id="324860c9-dbf4-4cdb-b4d0-8accc257b5c1" variableName="sfAssetsPayload"/>
				<choice doc:name="Choice" doc:id="73d5ecf1-16b9-4718-8144-cdd50012d6c6">
					<when expression="#[sizeOf (vars.sfResponse.*id filter ($ == null)) &gt; 0]">
						<salesforce:create doc:name="Create Error Assets" doc:id="e5f461ab-8d96-4dac-a6f4-d86b27b0c017" config-ref="SalesforceGeoFL3_Global" type="FRPP_ASSET__c" target="sfErrorAssestsResponse">
					<salesforce:records><![CDATA[#[vars.sfErrorAssestsPayload]]]></salesforce:records>
				</salesforce:create>
				
				<logger level="INFO" doc:name="MuleX" doc:id="4ac7947b-443f-4ae8-87c4-4e912d962c47" message="MuleX: FrppFileSplitter4: CreateSFErrorPayload Start."/>
				
				
				
						<ee:transform doc:name="Errors Mapping (2)" doc:id="74e3613f-5d59-4b6a-8adf-91bcb81724af">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="sfErrorsPayload"><![CDATA[%dw 2.0
output application/json
---
vars.sfResponse filter ($.id == null) map ((a,aIndex) -> {
 errors: a.errors map ((b,bIndex) -> {
 	
	ASSETTYPE__c: vars.assetType, 
	Agency_Code__c: vars.file.AGENCY_CODE__c,
	ERROR_FIELD__c: b.fields[0],
	ERROR_MESSAGE__c: b.message,
   	FILE_ID__c: vars.file.Id,
	FRPP_ASSET_ID__c: vars.sfErrorAssestsResponse[aIndex].id
     })
})]]></ee:set-variable>
								<ee:set-variable variableName="countErrorASTAdded" ><![CDATA[%dw 2.0
output application/java
---
(vars.countErrorASTAdded) + (sizeOf (vars.sfErrorAssestsResponse.*id filter ($ != null)))]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
						<ee:transform doc:name="flatten Payload" doc:id="fa305461-f3c3-42d0-9020-2c54e81367f9">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="sfErrorsPayload"><![CDATA[%dw 2.0
output application/json
---
flatten (vars.sfErrorsPayload.errors)]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			   	<logger level="INFO" doc:name="MuleX" doc:id="78018a90-fdd2-4688-9f1c-6006f8f366e8" message="MuleX: FrppFileSplitter4: CreateSFErrorPayload End."/>
			   	
						<foreach doc:name="For Each 200 Batch" doc:id="04a78bce-edc4-4760-afea-c1e747029839" collection="#[vars.sfErrorsPayload]" batchSize="200">
							<ee:transform doc:name="Transform To JSON" doc:id="ce038da1-fba0-4548-923b-f1a2cf2c999e" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
								</ee:message>
							</ee:transform>
							<salesforce:create doc:name="Create Errors" doc:id="5ac9eebe-025e-4c50-8ff3-129dc9824c27" config-ref="SalesforceGeoFL3_Global" type="FRPP_ASSET_ERROR__c" target="sfErrorsResponse">
				</salesforce:create>
						</foreach>
						<logger level="INFO" doc:name="Error Logger" doc:id="016d058a-fc71-4577-b012-74990d74b350" message="File ID: #[vars.file.Id], File Name: #[vars.fileName] --&gt; 3b. #[vars.assetType] Batch No.: #[vars.counter] ALL Err records processed Succesfully."/>
					</when>
					<otherwise >
						<logger level="INFO" doc:name="Success Logger" doc:id="a83cc715-af76-49b0-9e64-b46d67a68f83" message="File ID: #[vars.file.Id], File Name: #[vars.fileName] --&gt; 3a. #[vars.assetType] Batch No.: #[vars.counter] ALL records processed Succesfully."/>
					</otherwise>
				</choice>
				<ee:transform doc:name="Set BatchCompletion Statuses" doc:id="5ac2b8f1-d442-47b2-9943-86c31e42b8e2">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="updateStatusReq"><![CDATA[%dw 2.0
output application/json
---
[{
	Id: vars.file.Id,
	Status__c: p('status2'),  //Validation in Progress
	CI_STATUS__c : p('CI.status2') //COMPLETED
}
]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
					<flow-ref doc:name="SetFileStatus" doc:id="260f3f33-ed8c-4d08-a32f-a2a2913e5028" name="SetStatuses" />
				</when>
				<otherwise >
					<logger level="INFO" doc:name="Validation Errors" doc:id="b63cbd38-4209-45e2-a695-f89190eac006" message="File ID: #[vars.file.Id], File Name: #[vars.fileName] --&gt; ERROR:  Received SF error other then Validation Error.  Need to Exit."/>
				<set-variable value="false" doc:name="Set proceed? to false" doc:id="08f0eed1-d2b9-4172-915f-653034cb263d" variableName="proceed?" />
				<set-variable value="${InvalidXMLFYTemplateName}" doc:name="set useTemplateName" doc:id="9725ed71-6895-4c85-92f9-133074a07cc3" variableName="useTemplateName" />
				<ee:transform doc:name="set error Msg" doc:id="7ec46111-d005-4b82-a93b-9d776e7eb184">
					<ee:message>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="errorMsg" ><![CDATA[%dw 2.0
output application/java
---
["Received SF error other then Validation Error."]]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<flow-ref doc:name="userEmailNotificationFlow" doc:id="2a861e29-98cb-46b0-ae90-e2292ffd7530" name="userEmailNotificationFlow" />
				<ee:transform doc:name="set error Msg" doc:id="57cec174-fca7-40f1-aab6-4794cc884dc2">
					<ee:message>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="errorMsg" ><![CDATA[%dw 2.0
output application/java
---
["Received SF error other then Validation Error."]]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<set-variable value='Received SF error other then Validation Error.' doc:name="email Body" doc:id="6b5ca3df-bc75-490e-b791-36babef35efe" variableName="emailBody"/>
				<flow-ref doc:name="SupportEmail" doc:id="82a56a9a-9afb-4198-9cd7-2a87f059d417" name="supportEmailNotificationFlow" />
				
				</otherwise>
			</choice>
	</sub-flow>
</mule>
