src/main/mule/frppFilePoller.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="filePoller_httpInvoke" doc:id="d6fe0fee-6e9a-4855-9f9b-0ab28f06ccb8">
		<http:listener doc:name="Listener" doc:id="ab1bb57b-099b-401c-8866-dcb7cddc4229" config-ref="HTTP_Listener_config_Global" path="/frppload" />
		<choice doc:name="Choice - fileName Provided?" doc:id="7c06fe60-ceb0-41f5-94d7-b8270e03934b">
			
			<when expression="#[attributes.queryParams.fileName == 'ALL' or attributes.queryParams.fileName == 'all'  or  attributes.queryParams.fileName == 'All']">
				<flow-ref doc:name="call filePoller_main" doc:id="2135465c-59dd-4cc7-87b7-1e0dc66177e4" name="filePoller_main" />
			</when>
			
			
			<when expression='#[attributes.queryParams.fileName != null and attributes.queryParams.fileName != ""]'>
				<flow-ref doc:name="filePoller_throttlingCount" doc:id="60d620a2-a040-4f71-833e-7c4c2f92ba4a" name="filePoller_throttlingCount"/>
				<choice doc:name="Choice - Throttling Limit?" doc:id="ebb263c0-f930-4dc2-aa70-21578a0eb292">
					<when expression="#[(vars.remainingCount &gt; 0) or (p('throttling.flag') != &quot;true&quot;)]">
						<salesforce:query doc:name="Get the List of Files" doc:id="64e168fa-7436-47b6-ba9b-10e5c754876d" config-ref="SalesforceGeoFL3_Global" target="filePayloads">
			<salesforce:salesforce-query>Select ID, File_Name__c, File_Type__c, File_Extension__c, Status__c, AGENCY_CODE__c, Attachment_ID__c, createdby.email from FRPP_FILE__c where Active__c=True and File_Type__c='CR' and Status__c='Staging In Progress2'  and FILE_NAME__c = ':fileName'</salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	"fileName" : attributes.queryParams.fileName
}]]]></salesforce:parameters>

		</salesforce:query>
						<choice doc:name="Choice - Payload Size &gt; 0?" doc:id="afe76f2b-9a8e-44ca-a9c6-7dd0f44bcec9">
					<when expression="#[sizeOf (vars.filePayloads) &gt; 0]">
						<flow-ref doc:name="Call to forEachFile" doc:id="f096e204-8862-4259-905b-7ab5515f1468" name="forEachFile" />
						<set-payload value="FRPPFilePoller Flow Completed." doc:name="set Http Response" doc:id="19c91a53-4752-4235-93c0-66a4d487e754" />
					</when>
					<otherwise>
						<set-variable value='#["FRPPFilePoller services was called with a File Name: " ++ attributes.queryParams.fileName ++ ".\n\nNo matching file payload found in SalesForce with that name."]' doc:name="email Body - No Matching File." doc:id="6f942898-a07e-4ed4-a8e6-dd6bc937f43b" variableName="emailBody" />
						<flow-ref doc:name="supportEmailNotificationFlow" doc:id="a651711d-cca3-4f93-9941-a1e24558c37a" name="supportEmailNotificationFlow" />
						<set-payload value="FRPPFilePoller Flow Completed with Error: No matching File found" doc:name="No Matching File." doc:id="432b5efd-bd77-41ef-8465-3ad8e91ce48f" />
					</otherwise>
				</choice>
					</when>
					
					<otherwise >
						<set-payload value="Reached Max Throttling Limit. No files were processed." doc:name="Throttling Limit Reached." doc:id="e4b92b2b-49db-45d1-9149-00e1d2010153" />
					</otherwise>
				</choice>
			</when>
			<otherwise>
				<set-payload value="Incorrect query parameters provided. No files were processed." doc:name="Incorrect QueryParams" doc:id="895a7e30-165c-4b67-a3d6-058926c70d13" />
			</otherwise>
		</choice>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="1ccb1ee7-328b-4505-8ba8-4cee410b3cec" >
				<flow-ref doc:name="filePoller_ErrorHandler" doc:id="0192c90a-26e6-4083-888b-9b975ca4e7e6" name="filePoller_ErrorHandler"/>
			</on-error-continue>
		</error-handler>
	</flow>
	
	<flow name="filePoller_schedule" doc:id="b72e0599-bf11-46d8-b16d-a56a6e36102b" >
		<scheduler doc:name="Scheduler" doc:id="b40276a8-94a6-4c41-bca0-ea0ed003b2e9" >
			<scheduling-strategy >
				<fixed-frequency timeUnit="SECONDS" frequency="${schedule.time.sec}"/>
			</scheduling-strategy>
		</scheduler>
		<choice doc:name="Choice - scheduler On?" doc:id="94d7ef38-24ba-44d3-b831-2732fc80f8ce" >
			<when expression="p('schedule.enabled') == &quot;true&quot;">
				<flow-ref doc:name="call filePoller_main" doc:id="cca8fb21-a520-42b5-ac16-4fbda31b8979" name="filePoller_main"/>
			</when>
		</choice>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="c3573218-55e8-4e67-9284-57d08a7a5616" >
				<flow-ref doc:name="filePoller_ErrorHandler" doc:id="96a7debf-33da-4915-a5e2-34c715cdb4b2" name="filePoller_ErrorHandler"/>
			</on-error-continue>
		</error-handler>
	</flow>
	
	<sub-flow name="filePoller_main" doc:id="cbb7c540-f282-4ce7-8463-9e249e605c36" >
		<choice doc:name="Choice - throttlingFlag?" doc:id="192b65f6-103c-4b7f-ae0e-f3dd088c7427">
			<when expression="p('throttling.flag') == &quot;true&quot;">
				<flow-ref doc:name="filePoller_throttlingCount" doc:id="e7f28d98-245c-4cca-80a7-7765e7fb84bd" name="filePoller_throttlingCount"/>
				<choice doc:name="Choice - remainingCount?" doc:id="b3552664-5238-4732-83d3-c5e6e1bc53ee">
					<when expression="#[vars.remainingCount &gt; 0]">
						<salesforce:query doc:name="Query FRPPFile" doc:id="a7c8c7a9-a1cf-4dba-873d-1ed18c52f82c" config-ref="SalesforceGeoFL3_Global" target="filePayloads">
					<salesforce:salesforce-query>Select ID, File_Name__c, File_Type__c, File_Extension__c, Status__c, AGENCY_CODE__c,  Attachment_ID__c, createdby.email from FRPP_FILE__c where Active__c=True and File_Type__c='CR' and Status__c='Staging In Progress2' Order By CreatedDate LIMIT :limitCount</salesforce:salesforce-query>
					<salesforce:parameters><![CDATA[#[output application/java
---
{
	"limitCount" : vars.remainingCount
}]]]></salesforce:parameters>
				</salesforce:query>
						<remove-variable doc:name="Remove processingCount" doc:id="bd2e2daf-035f-41f8-ac86-2380343491bd" variableName="processingCount" />
						<remove-variable doc:name="Remove remainingCount" doc:id="e2651779-72d0-463c-ab89-e6ff94b8d653" variableName="remainingCount" />
					</when>
					<otherwise >
						<remove-variable doc:name="Remove Variable" doc:id="2a0e1c01-76a7-43ae-b3a2-b4cda3805b1a" variableName="filePayloads"/>
					</otherwise>
				</choice>
			</when>
			<otherwise>
				<salesforce:query doc:name="Query FRPPFile" doc:id="1c76902b-3a29-4146-b092-68cf84203406" config-ref="SalesforceGeoFL3_Global" target="filePayloads">
					<salesforce:salesforce-query>Select ID, File_Name__c, File_Type__c, File_Extension__c, Status__c, AGENCY_CODE__c,  Attachment_ID__c, createdby.email from FRPP_FILE__c where Active__c=True and File_Type__c='CR' and Status__c='Staging In Progress2' Order By CreatedDate </salesforce:salesforce-query>
				</salesforce:query>
			</otherwise>
		</choice>
		<choice doc:name="Choice" doc:id="cd6aa288-6cab-47f3-8216-a65f4565a6dd">
			<when expression="#[(vars.filePayloads == null)]">
				<set-payload value="FRPPFilePoller Flow Completed with Error: Reached Throttling Limit. No Files were processed this time." doc:name="set Http Response" doc:id="dd13d5b6-fe86-45bb-a444-082fde5442ed" />
			</when>
			<when expression="#[(sizeOf (vars.filePayloads) &gt; 0)]">
				<flow-ref doc:name="forEachFile Call" doc:id="9a8de588-a621-4c9b-b879-d92a2a59216c" name="forEachFile" />
				<set-payload value="FRPPFilePoller Flow Completed." doc:name="set Http Response" doc:id="2c27c139-f9d4-4f44-ab5e-864978ff51e3" />
			</when>
			<otherwise >
				<set-payload value="FRPPFilePoller Flow completed. Did not have any files to process." doc:name="No Files Found." doc:id="9a5c1a06-7a16-4bec-ad45-8f9f7594f55a" />
			</otherwise>
		</choice>
	</sub-flow>
	
	<sub-flow name="filePoller_throttlingCount" doc:id="83ed2b6d-c14f-4745-ad04-0473d329bdd8" >
		
		<salesforce:get-server-timestamp doc:name="Get server timestamp" doc:id="12dcb2da-bcef-42be-8acf-5f48044fa22a" config-ref="SalesforceGeoFL3_Global" target="sfCurrentTimeStamp" />
		<ee:transform doc:name="Transform Message" doc:id="b793713d-e29e-4ffc-8c25-d4b0a7cac10d">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="sfCurrentTimeStamp"><![CDATA[%dw 2.0
output application/java
---
vars.sfCurrentTimeStamp as DateTime {format: "yyyy-MM-DD'T'hh:mm:ss'Z'"} - |PT${inProcess.Hrs}H|]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:query doc:name="Processing Count" doc:id="8c811911-30e6-4705-b458-d439887d8b69" config-ref="SalesforceGeoFL3_Global" target="processingCount" targetValue="#[payload[0].expr0]">
			<salesforce:salesforce-query >Select Count(Id) from FRPP_FILE__c where Active__c=True and File_Type__c='CR' and (Status__c ='Processing' OR Status__c='Validation in progress') and LastModifiedDate  &gt; :sfCurrentTimeStamp</salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"sfCurrentTimeStamp" : vars.sfCurrentTimeStamp
}]]]></salesforce:parameters>
		</salesforce:query>
		<set-variable value="#[p('throttling.count') - vars.processingCount default 0]" doc:name="remainingCount" doc:id="24a98a8d-e2a8-475f-be4c-99ddb4bc6daf" variableName="remainingCount" />
	</sub-flow>
	<sub-flow name="forEachFile" doc:id="4cb17d40-955c-4874-a171-e5329ccdafd7" >
		<foreach doc:name="For Each" doc:id="81cdc2f1-41cd-49a2-a075-75f473823b23" collection="vars.filePayloads">
			<set-variable value="#[payload]" doc:name="Save File Info" doc:id="2e6ba88a-56ff-4b4d-92cf-0e583fb6beab" variableName="file"/>
			<set-variable value="#[vars.file.FILE_NAME__c]" doc:name="Set FileName" doc:id="d2535910-05ec-4836-b988-c605fae3d02f" variableName="fileName" />
			<ee:transform doc:name="set Request Payload" doc:id="4d1a81cd-8a4b-4267-a299-3c4f9206e8de" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="getQueueReq" ><![CDATA[%dw 2.0
output application/java
---
{ body: {filename:vars.fileName} }]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<salesforce:invoke-apex-rest-method doc:name="Retrieve Available Queue" doc:id="82943730-9982-4a28-b02a-0377455dee64" config-ref="SalesforceGeoFL3_Global" className="FRPP_retrieveAvailableMuleQueue" methodName="getAvailableQueue^/OGPretriveAvailableMuleQueue/^HttpPost^String^" target="queueName" targetValue="#[payload.getAvailableQueueOutput]">
				<salesforce:request ><![CDATA[#[vars.getQueueReq]]]></salesforce:request>
			</salesforce:invoke-apex-rest-method>
		
			<remove-variable doc:name="Remove getQueueReq" doc:id="18181939-472d-4a64-8caa-91d7bdfcb8de" variableName="getQueueReq"/>
			<choice doc:name="Choice" doc:id="dddd50ca-c6ff-4729-ab18-d74c8ae384c0" >
				
				<when expression='#[startsWith(vars.queueName,"response")]' >
					<async doc:name="Async" doc:id="1858f636-7f81-44ac-9b5c-22cfc6ff08e9" >
						<flow-ref doc:name="Call to fileSplitter_main" doc:id="813ee863-336f-4c2b-bfcc-e4973056a8fe" name="fileSplitter_main" target="fileResults" targetValue="#[payload]" />
					</async>
					<logger level="INFO" doc:name="log Results" doc:id="38cb9a5a-3f92-4df1-a882-ed2ba619223f" message="File: #[vars.fileName]  launched processing." />
				</when>
				<when expression='#[startsWith(vars.queueName,"none")]' >
					<logger level="INFO" doc:name="No Queue Log" doc:id="251d1175-88db-4761-8b49-0db57ddd739f" message="File: #[vars.fileName]. No Queues Available from SF." />
				</when>
				<otherwise>
				<set-variable value='#["Error occured during processing the File:  " ++ vars.fileName ++". \n\n Error: " ++ vars.queueName ++ ". Cannot get QueueName from SF."]' doc:name="email Body" doc:id="2023d5e3-84f2-40ea-8b48-d0b37ed7b1cf" variableName="emailBody" />
				<flow-ref doc:name="supportEmailNotificationFlow" doc:id="e2592e77-38b8-4140-ace3-e563ad5dea69" name="supportEmailNotificationFlow" />
				
			</otherwise>
			</choice>
			<remove-variable doc:name="Remove file Variable" doc:id="642351ca-bf31-4430-8b32-d0fa6a90a260" variableName="file" />
		</foreach>
	</sub-flow>
	<sub-flow name="filePoller_ErrorHandler" doc:id="ba6aaf5d-e9fd-4eec-8b75-15eb6cb090ee" >
		<flow-ref doc:name="releaseQueue" doc:id="4526d0fc-3034-4aef-b6c8-e73942c0a834" name="releaseQueue" />
		<logger level="INFO" doc:name="Error Log" doc:id="15b50e76-eed5-491e-a590-d2ba7b43fcf7" message="ERROR: Error in filePoller Service: Error Type: #[error.errorType],  ErrorDescription: #[error.detailedDescription]." />
		<ee:transform doc:name="set error Msg" doc:id="372b4a19-781f-4f66-aae6-da586b95d544">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="errorMsg"><![CDATA[%dw 2.0
output application/java
---
[
  ("ErrorType:   " ++ error.errorType.namespace ++ ":" ++ error.errorType.identifier), 	
  ("Description: " ++ error.detailedDescription)
]

]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
		<set-variable value='#["Error occured during processing filePoller Service. \n\nPlease find attached error details."]' doc:name="email Body" doc:id="49850d5f-04af-4c45-9fa4-1da4a88e0c1d" variableName="emailBody" />
		<flow-ref doc:name="supportEmailNotificationFlow" doc:id="90e4b10e-3cc6-4d22-bd08-dd927390c10c" name="supportEmailNotificationFlow" />
		<set-payload value='#["ErrorType: " ++ error.errorType.namespace ++ ":" ++ error.errorType.identifier ++ ", ErrorDescription: " ++ error.detailedDescription ++ " For FileName: " ++ vars.filename]' doc:name="Set Error Payload" doc:id="5f0f6597-1d2c-43ae-8be1-867e6d76ed79" />
	</sub-flow>
</mule>
