src/main/mule/frppRemovePoller.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	
	<flow name="removePoller_schedule" doc:id="2fe3d2aa-fe6b-4e60-9acb-9ee18c3ef87a">
		<scheduler doc:name="Scheduler" doc:id="26bca3a3-6ff2-415d-bb5f-115af78557fd">
			<scheduling-strategy>
				<fixed-frequency timeUnit="SECONDS" frequency="${schedule.remove.time.sec}" />
			</scheduling-strategy>
		</scheduler>
		<choice doc:name="Choice - scheduler On?" doc:id="b8dba8ed-70f1-4fee-a601-e2844f90dfe0">
			<when expression="p('schedule.remove.enabled') == &quot;true&quot;">
				<salesforce:query doc:name="Query All Files" doc:id="49693c29-095b-47a8-bff8-3e698117275a" config-ref="SalesforceGeoFL3_Global" target="removeFileIDs">
					<salesforce:salesforce-query >Select ID, Status__c, CI_STATUS__c from FRPP_FILE__c where File_Type__c='CR' and Status__c='Removal In Progress' and CI_STATUS__c ='REMOVE'</salesforce:salesforce-query>
				</salesforce:query>
				<flow-ref doc:name="call removePoller_main" doc:id="52db84a2-08a4-4b7c-bdeb-681aacf7fcc8" name="removePoller_main" />
			</when>
		</choice>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="256439be-4685-4c96-b508-58082bf19e44">
				<flow-ref doc:name="removePoller_ErrorHandler" doc:id="4cf12711-8189-4789-8334-c726200be8d3" name="removePoller_ErrorHandler" />
			</on-error-continue>
		</error-handler>
	</flow>
	
	<flow name="removePoller_http" doc:id="f917538d-3ca8-46c4-926b-805808e187c7" >
		<http:listener doc:name="Listener" doc:id="188fa3ea-d6d9-431a-92ba-ed47b24ca2f1" config-ref="HTTP_Listener_config_Global" path="/remove"/>
		<choice doc:name="Choice - fileName Provided?" doc:id="f6862127-9e38-4fd0-aad7-ee494a671501" >
			<when expression="#[attributes.queryParams.fileName == 'ALL' or attributes.queryParams.fileName == 'all'  or  attributes.queryParams.fileName == 'All']">
				<salesforce:query doc:name="Query All Files" doc:id="9460d0b5-6ebe-4dcc-82ea-e3599b0aedfd" config-ref="SalesforceGeoFL3_Global" target="removeFileIDs">
					<salesforce:salesforce-query >Select ID, Status__c, CI_STATUS__c from FRPP_FILE__c where File_Type__c='CR' and Status__c='Removal In Progress' and CI_STATUS__c ='REMOVE'</salesforce:salesforce-query>
				</salesforce:query>
				<flow-ref doc:name="removePoller_main" doc:id="47a79c4f-20fe-44a5-a1eb-d2a1acea6dd6" name="removePoller_main"/>
			</when>
			<when expression='#[attributes.queryParams.fileName != null and attributes.queryParams.fileName != ""]'>
				<salesforce:query doc:name="Query- SF" doc:id="ada6e17c-b912-4961-801b-9cd7bfe89df6" config-ref="SalesforceGeoFL3_Global" target="removeFileIDs">
					<salesforce:salesforce-query >Select ID, Status__c,CI_STATUS__c from FRPP_FILE__c where File_Type__c='CR' and Status__c='Removal In Progress' and CI_STATUS__c ='REMOVE'  and FILE_NAME__c = ':fileName'</salesforce:salesforce-query>
					<salesforce:parameters ><![CDATA[#[output application/java
---
{
	fileName : attributes.queryParams.fileName
}]]]></salesforce:parameters>
				</salesforce:query>
				<flow-ref doc:name="removePoller_main" doc:id="d806475a-aadc-4aac-ba7b-b41fd894952c" name="removePoller_main"/>
			</when>
			<otherwise >
				<set-payload value="Incorrect query parameters provided. No Remove files were processed." doc:name="Incorrect QueryParams" doc:id="56bfc868-0da5-4242-9586-f84115d43eef" />
			</otherwise>
		</choice>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="e3b28957-9833-4c9e-a1ac-7cd41eb4eea0" >
				<flow-ref doc:name="removePoller_ErrorHandler" doc:id="905e2e91-edf6-4472-88c3-05940808f432" name="removePoller_ErrorHandler"/>
			</on-error-continue>
		</error-handler>
	</flow>
	
	<sub-flow name="removePoller_main" doc:id="635d9344-c215-4d66-928a-fd002ef63e49" >
		<choice doc:name="Choice - Payload Size &gt; 0?" doc:id="2475c85d-2933-454c-a7bb-2087661eb029">
			<when expression="#[(sizeOf (vars.removeFileIDs) &gt; 0)]">
				<foreach doc:name="For Each" doc:id="85989403-cc4c-450f-a004-cad50f9cc03d" collection="vars.removeFileIDs">
					<set-variable value="#[payload.Id]" doc:name="Save File Info" doc:id="5fc79b26-0035-471a-b3c3-3d4fc372f99a" variableName="fileID" />
					<ee:transform doc:name="Set CIStatus to STARTED" doc:id="e00cfc86-1235-4cbb-bba2-649b1127a74c">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="updateStatusReq"><![CDATA[%dw 2.0
output application/json
---
[{
	Id: vars.fileID,
	CI_STATUS__c : p('CI.remove.status1') //Removal In Progress
	
}]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="SetFileStatus" doc:id="b3933342-5467-4d69-b479-207cad267196" name="SetStatuses" />
					<async doc:name="Async" doc:id="26a60ee1-8b68-4ee0-98f1-2e380d16d5b5" >
						<flow-ref doc:name="removeData Call" doc:id="07180091-68d9-4211-88bd-a497849ee35f" name="removeData" />
					</async>
		</foreach>
				<logger level="INFO" doc:name="Logger" doc:id="67f27132-64e9-47bc-a230-7f2831216725" message="MULE Started Removing #[sizeOf (vars.removeFileIDs)] File(s)."/>
				<set-payload value='FRPPRemovePoller Flow Completed.' doc:name="set Http Response" doc:id="b5e7f3ae-e672-42dd-8dda-83fc92839ba2" />
			</when>
			<otherwise >
						<set-payload value="FRPPRemovePoller Flow completed. Did not have (any files or FileName provided) in REMOVE Status to process." doc:name="No Files Found." doc:id="e936ecf3-69cd-4b36-a5a4-f8b4856a0836" />			
			</otherwise>
		</choice>
	</sub-flow>
	<flow name="removeData" doc:id="3ae28899-558a-4063-86da-3fb8d8036f1c" >
		<salesforce:query doc:name="Query FRPP_ASSET_ERROR__c" doc:id="bcc4361e-2a89-47a6-a0f9-224b3ab90983" config-ref="SalesforceGeoFL3_Global" target="assetIDs">
			<salesforce:salesforce-query >Select Id from FRPP_ASSET_ERROR__c where FILE_ID__c = ':fileID' </salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	fileID : vars.fileID
}]]]></salesforce:parameters>
		</salesforce:query>
		<flow-ref doc:name="deleteOperation - errorAssets" doc:id="a02fb09c-c0a8-4476-967e-78232f8b47ef" name="deleteOperation"/>
		<salesforce:query doc:name="Query FRPP_ASSET__c" doc:id="04d51611-e4c5-42c9-8d40-edc79c0cb019" config-ref="SalesforceGeoFL3_Global" target="assetIDs">
			<salesforce:salesforce-query>Select Id from FRPP_ASSET__c where ASSET_RECORD_TYPE__c = 'STAGING' AND File_ID__c =  ':fileID' </salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	fileID : vars.fileID
}]]]></salesforce:parameters>
		</salesforce:query>
		<flow-ref doc:name="deleteOperation - Assets" doc:id="d71fec60-6841-4dd8-8158-8758f1ae4a3c" name="deleteOperation"/>
		<remove-variable doc:name="Remove assetIDs" doc:id="4047020a-6ebd-40f9-86dd-5a9aa3e1fb59" variableName="assetIDs" />
		<ee:transform doc:name="Set CIStatus to STARTED" doc:id="0729c29f-fde4-4ec1-ab3d-22854e30e4fa">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="updateStatusReq"><![CDATA[%dw 2.0
output application/json
---
[{
	Id: vars.fileID,
	Active__c : false,
	Status__c : "Removed", 
	CI_STATUS__c : 'REMOVE COMPLETE'
	
}]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="SetFileStatus" doc:id="f92a0926-e52c-410c-93bc-c22f037f8a2f" name="SetStatuses" />
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="36ed22e7-b9d3-4d38-89ff-92c1fdbde745">
				<flow-ref doc:name="removePoller_ErrorHandler" doc:id="5ff2e1af-b8ec-4c48-ac18-9e31476a302f" name="removePoller_ErrorHandler" />
			</on-error-continue>
		</error-handler>
	</flow>
	<sub-flow name="deleteOperation" doc:id="b9833a02-aaa9-4246-aa1f-290a7e363012" >
		<choice doc:name="Choice" doc:id="51edaa4a-86e9-4042-8ec1-dabcabf6a029">
			<when expression="#[sizeOf (vars.assetIDs default []) &gt; 0]">
				<foreach doc:name="For Each" doc:id="f2545c7c-06b1-4ec1-afd0-3e9e5e971380" collection="vars.assetIDs" batchSize="200">
					<set-payload value="#[payload.Id]" doc:name="Set Payload Ids" doc:id="f04a3597-4d88-4a00-916d-deff803bb9cf" />
					<salesforce:delete doc:name="Delete Assets" doc:id="002a21d3-a642-4a31-9998-c1f6b5a0f376" config-ref="SalesforceGeoFL3_Global" target="errorAssetResp" />
					<remove-variable doc:name="Remove errorAssetResp" doc:id="638ac56d-e02b-40e0-8db2-c121c2905292" variableName="errorAssetResp" />
				</foreach>
			</when>
		</choice>
	</sub-flow>
	<sub-flow name="removePoller_ErrorHandler" doc:id="3051ba53-189b-41bb-967a-6d083a92de0c" >
		<logger level="INFO" doc:name="Error Log" doc:id="a5ddf96c-344e-42ca-a531-91b992fc2414" message="ERROR: Error in removePoller Service: Error Type: #[error.errorType],  ErrorDescription: #[error.detailedDescription]." />
		<ee:transform doc:name="set error Msg" doc:id="48accd53-b8fb-4538-8c05-8f79839ae500">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="errorMsg"><![CDATA[%dw 2.0
output application/java
---
[
  ("ErrorType:   " ++ error.errorType.namespace ++ ":" ++ error.errorType.identifier), 	
  ("Description: " ++ error.detailedDescription)
]

]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
		<set-variable value='#["Error occured during processing removePoller Service. \n\nPlease find attached error details."]' doc:name="email Body" doc:id="ae0ba21c-d309-4531-9669-38326e91cb00" variableName="emailBody" />
		<flow-ref doc:name="supportEmailNotificationFlow" doc:id="f363e30b-0f50-4efc-b0cf-4298238b369a" name="supportEmailNotificationFlow" />
		<set-payload value='#["ErrorType: " ++ error.errorType.namespace ++ ":" ++ error.errorType.identifier ++ ", ErrorDescription: " ++ error.detailedDescription ++ " For FileID: " ++ vars.fileID]' doc:name="Set Error Payload" doc:id="6499a4ea-492e-4dfc-8461-f1966aecea4a" />
	</sub-flow>
	
</mule>
