src/main/mule/z.myTestFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="sendSFEmailFlow1" doc:id="bd9c4162-cf67-4ca6-8334-944386acc3a2" >
		<http:listener doc:name="Listener" doc:id="ff5e45f4-235c-4f88-98b0-91d391610d41" config-ref="HTTP_Listener_config_Global" path="mySendEmail"/>
		<choice doc:name="Choice" doc:id="13310e05-4c14-4266-9360-71980303684d" >
			<when expression='#[attributes.queryParams.emailName == "sendSupportEmail"]'>
				<ee:transform doc:name="set error Msg" doc:id="0686a7e9-1fcd-48c7-8fc9-a97550e9174f">
					<ee:message>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="errorMsg" ><![CDATA[%dw 2.0
output application/java
---
["THis is is my Error 1", "This is my Error 2."]]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<set-variable value='This is the email body for the Support Email. ' doc:name="email Body" doc:id="35610174-03e8-4eda-8a8d-9364ee0f1023" variableName="emailBody"/>
				<flow-ref doc:name="Flow Reference" doc:id="5d94d4b1-9c2c-405c-81a1-30c85aeb7929" name="supportEmailNotificationFlow" />
				<set-payload value="#[vars.SFdoEmailResp.doEmailOutput]" doc:name="Set Payload" doc:id="439981e1-c4c6-40a8-b493-308709d2d6ce" />
			</when>
			<otherwise >
				<ee:transform doc:name="Set File params" doc:id="ee507c88-4204-4fdd-ba6c-4e046c14eff0">
					<ee:message>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="file" ><![CDATA[%dw 2.0
output application/java
---
{
CreatedBy: {Email: "sray@acumensolutions.com"},
Id: "a03r0000002z0RFAAY"
}

]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<ee:transform doc:name="set error Msg" doc:id="34a5b781-faa0-491e-83b0-0250fb4ffd06">
					<ee:message>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="errorMsg" ><![CDATA[%dw 2.0
output application/java
---
["THis is is my Error 1", "This is my Error 2."]]]></ee:set-variable>
						<ee:set-variable variableName="fileName" ><![CDATA[%dw 2.0
output application/java
---
"testFile.xml"]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<set-variable value='Invalid Xml File' doc:name="templateName" doc:id="6eebee16-b7bb-48ce-a0df-585af3be960c" variableName="useTemplateName"/>
				<flow-ref doc:name="Flow Reference" doc:id="7b300a4e-815f-4dba-ae3f-4187d82bad03" name="userEmailNotificationFlow"/>
				<set-payload value="#[vars.SFdoEmailResp.doEmailOutput]" doc:name="Set Payload" doc:id="c0d4b5b2-a917-4012-9429-8550ebca9cfe" />
			</otherwise>
		</choice>
	</flow>
</mule>
